In [1]:
import pandas as pd
import numpy as np

In [2]:
#df = pd.read_csv('data/Train1.csv', error_bad_lines=False, index_col=False, dtype= 'unicode')

In [3]:
df = pd.read_csv('data/IST_corrected.csv', low_memory = False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19435 entries, 0 to 19434
Columns: 112 entries, HOSPNUM to NCB14
dtypes: float64(20), int64(29), object(63)
memory usage: 16.6+ MB

In [5]:
df.head()

,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RATRIAL,RCT,RVISINF,RHEP24,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,1,17,D,M,69,Y,NaN,Y,Y,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,10,F,M,76,Y,NaN,Y,N,NaN,...,0,0,0,0,0,0,0,0,0,0
2,1,43,F,F,71,N,NaN,Y,N,NaN,...,0,0,0,0,0,0,0,0,0,0
3,1,6,F,M,81,N,NaN,N,N,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,20,F,M,78,N,NaN,N,N,NaN,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#df.columns.tolist()

In [7]:
#df.isnull().sum().tolist()

In [8]:
# check for duplicates
double = df[df.duplicated()]
double

Empty DataFrame
Columns: [HOSPNUM, RDELAY, RCONSC, SEX, AGE, RSLEEP, RATRIAL, RCT, RVISINF, RHEP24, RASP3, RSBP, RDEF1, RDEF2, RDEF3, RDEF4, RDEF5, RDEF6, RDEF7, RDEF8, STYPE, RDATE, HOURLOCAL, MINLOCAL, DAYLOCAL, RXASP, RXHEP, DASP14, DASPLT, DLH14, DMH14, DHH14, ONDRUG, DSCH, DIVH, DAP, DOAC, DGORM, DSTER, DCAA, DHAEMD, DCAREND, DTHROMB, DMAJNCH, DMAJNCHD, DMAJNCHX, DSIDE, DSIDED, DSIDEX, DDIAGISC, DDIAGHA, DDIAGUN, DNOSTRK, DNOSTRKX, DRSISC, DRSISCD, DRSH, DRSHD, DRSUNK, DRSUNKD, DPE, DPED, DALIVE, DALIVED, DPLACE, DDEAD, DDEADD, DDEADC, DDEADX, FDEAD, FLASTD, FDEADD, FDEADC, FDEADX, FRECOVER, FDENNIS, FPLACE, FAP, FOAC, FU1_RECD, FU2_DONE, COUNTRY, CNTRYNUM, FU1_COMP, NCCODE, CMPLASP, CMPLHEP, DIED, TD, EXPDD, EXPD6, EXPD14, SET14D, ID14, OCCODE, DEAD1, DEAD2, DEAD3, DEAD4, DEAD5, ...]
Index: []

[0 rows x 112 columns]

In [9]:
df_types = df.columns.to_series().groupby(df.dtypes).groups
{k.name: v for k, v in df_types.items()}

{'int64': Index(['HOSPNUM', 'RDELAY', 'AGE', 'RSBP', 'HOURLOCAL', 'MINLOCAL', 'DAYLOCAL',
        'CNTRYNUM', 'DIED', 'SET14D', 'ID14', 'OCCODE', 'DEAD1', 'DEAD2',
        'DEAD3', 'DEAD4', 'DEAD5', 'DEAD6', 'DEAD7', 'DEAD8', 'H14', 'ISC14',
        'NK14', 'STRK14', 'HTI14', 'PE14', 'DVT14', 'TRAN14', 'NCB14'],
       dtype='object'),
 'float64': Index(['ONDRUG', 'DMAJNCHD', 'DSIDED', 'DRSISCD', 'DRSHD', 'DRSUNKD', 'DPED',
        'DALIVED', 'DDEADD', 'DDEADC', 'FLASTD', 'FDEADD', 'FDEADC', 'FU1_RECD',
        'FU2_DONE', 'FU1_COMP', 'TD', 'EXPDD', 'EXPD6', 'EXPD14'],
       dtype='object'),
 'object': Index(['RCONSC', 'SEX', 'RSLEEP', 'RATRIAL', 'RCT', 'RVISINF', 'RHEP24',
        'RASP3', 'RDEF1', 'RDEF2', 'RDEF3', 'RDEF4', 'RDEF5', 'RDEF6', 'RDEF7',
        'RDEF8', 'STYPE', 'RDATE', 'RXASP', 'RXHEP', 'DASP14', 'DASPLT',
        'DLH14', 'DMH14', 'DHH14', 'DSCH', 'DIVH', 'DAP', 'DOAC', 'DGORM',
        'DSTER', 'DCAA', 'DHAEMD', 'DCAREND', 'DTHROMB', 'DMAJNCH', 'DMAJNCHX',
        'DSIDE', 'DSIDEX', 'DDIAGISC', 'DDIAGHA', 'DDIAGUN', 'DNOSTRK',
        'DNOSTRKX', 'DRSISC', 'DRSH', 'DRSUNK', 'DPE', 'DALIVE', 'DPLACE',
        'DDEAD', 'DDEADX', 'FDEAD', 'FDEADX', 'FRECOVER', 'FDENNIS', 'FPLACE',
        'FAP', 'FOAC', 'COUNTRY', 'NCCODE', 'CMPLASP', 'CMPLHEP'],
       dtype='object')}

In [10]:
object_col = list(df.select_dtypes(include='object').columns)
num_col = list(df.select_dtypes(include=['float64', 'int64']).columns)

In [11]:
#object_col

In [12]:
# Iterate over object columns
for column in object_col:
    columnSeriesObj = df[column]
    print()
    print('Colunm Name : ', column)
    print('Describe: ', columnSeriesObj.describe())
    if columnSeriesObj.nunique() <= 6:
        df[column] = df[column].str.upper()                     # all strings in uppercase
        print('Unique values : ', columnSeriesObj.unique())

Colunm Name :  RCONSC
Describe:  count     19435
unique        3
top           F
freq      14921
Name: RCONSC, dtype: object
Unique values :  ['D' 'F' 'U']

Colunm Name :  SEX
Describe:  count     19435
unique        2
top           M
freq      10407
Name: SEX, dtype: object
Unique values :  ['M' 'F']

Colunm Name :  RSLEEP
Describe:  count     19435
unique        2
top           N
freq      13750
Name: RSLEEP, dtype: object
Unique values :  ['Y' 'N']

Colunm Name :  RATRIAL
Describe:  count     18451
unique        2
top           N
freq      15282
Name: RATRIAL, dtype: object
Unique values :  [nan 'Y' 'N']

Colunm Name :  RCT
Describe:  count     19435
unique        2
top           Y
freq      13024
Name: RCT, dtype: object
Unique values :  ['Y' 'N']

Colunm Name :  RVISINF
Describe:  count     19435
unique        2
top           N
freq      13020
Name: RVISINF, dtype: object
Unique values :  ['Y' 'N']

Colunm Name :  RHEP24
Describe:  count     19091
unique        2
top           N
freq      18655
Name: RHEP24, dtype: object
Unique values :  [nan 'N' 'Y']

Colunm Name :  RASP3
Describe:  count     18451
unique        2
top           N
freq      14511
Name: RASP3, dtype: object
Unique values :  [nan 'N' 'Y']

Colunm Name :  RDEF1
Describe:  count     19435
unique        3
top           Y
freq      14099
Name: RDEF1, dtype: object
Unique values :  ['N' 'Y' 'C']

Colunm Name :  RDEF2
Describe:  count     19435
unique        3
top           Y
freq      16645
Name: RDEF2, dtype: object
Unique values :  ['N' 'Y' 'C']

Colunm Name :  RDEF3
Describe:  count     19435
unique        3
top           Y
freq      14678
Name: RDEF3, dtype: object
Unique values :  ['N' 'Y' 'C']

Colunm Name :  RDEF4
Describe:  count     19435
unique        3
top           N
freq      10342
Name: RDEF4, dtype: object
Unique values :  ['Y' 'N' 'C']

Colunm Name :  RDEF5
Describe:  count     19435
unique        3
top           N
freq      12394
Name: RDEF5, dtype: object
Unique values :  ['N' 'Y' 'C']

Colunm Name :  RDEF6
Describe:  count     19435
unique        3
top           N
freq      12809
Name: RDEF6, dtype: object
Unique values :  ['Y' 'N' 'C']

Colunm Name :  RDEF7
Describe:  count     19435
unique        3
top           N
freq      15704
Name: RDEF7, dtype: object
Unique values :  ['N' 'Y' 'C']

Colunm Name :  RDEF8
Describe:  count     19435
unique        3
top           N
freq      16967
Name: RDEF8, dtype: object
Unique values :  ['Y' 'N' 'C']

Colunm Name :  STYPE
Describe:  count     19435
unique        5
top        PACS
freq       7855
Name: STYPE, dtype: object
Unique values :  ['PACS' 'LACS' 'POCS' 'OTH' 'TACS']

Colunm Name :  RDATE
Describe:  count      19435
unique        65
top       lis-95
freq         680
Name: RDATE, dtype: object

Colunm Name :  RXASP
Describe:  count     19435
unique        2
top           Y
freq       9720
Name: RXASP, dtype: object
Unique values :  ['Y' 'N']

Colunm Name :  RXHEP
Describe:  count     19435
unique        4
top           N
freq       9718
Name: RXHEP, dtype: object
Unique values :  ['N' 'L' 'H' 'M']

Colunm Name :  DASP14
Describe:  count     19413
unique        5
top           N
freq      10326
Name: DASP14, dtype: object
Unique values :  ['Y' 'N' 'U' nan]

Colunm Name :  DASPLT
Describe:  count     19288
unique        3
top           Y
freq      11566
Name: DASPLT, dtype: object
Unique values :  ['Y' 'N' nan 'U']

Colunm Name :  DLH14
Describe:  count     19413
unique        3
top           N
freq      14860
Name: DLH14, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  DMH14
Describe:  count     18429
unique        3
top           N
freq      14318
Name: DMH14, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DHH14
Describe:  count     984
unique      2
top         N
freq      794
Name: DHH14, dtype: object
Unique values :  ['N' 'Y' nan]

Colunm Name :  DSCH
Describe:  count     19130
unique        3
top           N
freq      18643
Name: DSCH, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DIVH
Describe:  count     19130
unique        3
top           N
freq      18740
Name: DIVH, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DAP
Describe:  count     19417
unique        3
top           N
freq      18629
Name: DAP, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DOAC
Describe:  count     19417
unique        3
top           N
freq      18758
Name: DOAC, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DGORM
Describe:  count     19412
unique        3
top           N
freq      17358
Name: DGORM, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DSTER
Describe:  count     19407
unique        3
top           N
freq      18672
Name: DSTER, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DCAA
Describe:  count     19406
unique        3
top           N
freq      17193
Name: DCAA, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DHAEMD
Describe:  count     19407
unique        3
top           N
freq      18828
Name: DHAEMD, dtype: object
Unique values :  ['N' nan 'Y' 'U']

Colunm Name :  DCAREND
Describe:  count     18430
unique        3
top           N
freq      18352
Name: DCAREND, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DTHROMB
Describe:  count     19120
unique        3
top           N
freq      19090
Name: DTHROMB, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DMAJNCH
Describe:  count     19421
unique        3
top           N
freq      19259
Name: DMAJNCH, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  DMAJNCHX
Describe:  count            145
unique           117
top       HAEMATURIA
freq               7
Name: DMAJNCHX, dtype: object

Colunm Name :  DSIDE
Describe:  count     19421
unique        3
top           N
freq      18768
Name: DSIDE, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  DSIDEX
Describe:  count            638
unique           515
top       HAEMATURIA
freq              17
Name: DSIDEX, dtype: object

Colunm Name :  DDIAGISC
Describe:  count     19412
unique        4
top           Y
freq      17398
Name: DDIAGISC, dtype: object
Unique values :  ['Y' 'N' 'U' nan]

Colunm Name :  DDIAGHA
Describe:  count     19409
unique        3
top           N
freq      18804
Name: DDIAGHA, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DDIAGUN
Describe:  count     19412
unique        3
top           N
freq      18414
Name: DDIAGUN, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DNOSTRK
Describe:  count     19409
unique        3
top           N
freq      18983
Name: DNOSTRK, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DNOSTRKX
Describe:  count     427
unique    252
top       TIA
freq      100
Name: DNOSTRKX, dtype: object

Colunm Name :  DRSISC
Describe:  count     19417
unique        3
top           N
freq      18995
Name: DRSISC, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DRSH
Describe:  count     19420
unique        3
top           N
freq      19314
Name: DRSH, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  DRSUNK
Describe:  count     18428
unique        3
top           N
freq      18159
Name: DRSUNK, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DPE
Describe:  count     19421
unique        3
top           N
freq      19287
Name: DPE, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  DALIVE
Describe:  count     19407
unique        3
top           Y
freq      10322
Name: DALIVE, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DPLACE
Describe:  count     9726
unique       6
top          A
freq      7062
Name: DPLACE, dtype: object
Unique values :  [nan 'A' 'U' 'D' 'E' 'B' 'C']

Colunm Name :  DDEAD
Describe:  count     19416
unique        3
top           N
freq      17376
Name: DDEAD, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DDEADX
Describe:  count         168
unique        138
top       UNKNOWN
freq            7
Name: DDEADX, dtype: object

Colunm Name :  FDEAD
Describe:  count     19336
unique        3
top           N
freq      14910
Name: FDEAD, dtype: object
Unique values :  ['N' 'U' 'Y' nan]

Colunm Name :  FDEADX
Describe:  count         784
unique        382
top       UNKNOWN
freq          142
Name: FDEADX, dtype: object

Colunm Name :  FRECOVER
Describe:  count     15015
unique        3
top           N
freq      11088
Name: FRECOVER, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  FDENNIS
Describe:  count     14936
unique        3
top           Y
freq       7727
Name: FDENNIS, dtype: object
Unique values :  ['Y' 'N' 'U' nan]

Colunm Name :  FPLACE
Describe:  count     14933
unique        6
top           A
freq      11607
Name: FPLACE, dtype: object
Unique values :  ['E' 'A' 'D' 'U' nan 'B' 'C']

Colunm Name :  FAP
Describe:  count     14867
unique        4
top           Y
freq      10516
Name: FAP, dtype: object
Unique values :  [nan 'U' 'N' 'Y']

Colunm Name :  FOAC
Describe:  count     14861
unique        3
top           N
freq      12323
Name: FOAC, dtype: object
Unique values :  [nan 'U' 'N' 'Y']

Colunm Name :  COUNTRY
Describe:  count     19435
unique       36
top          UK
freq       6257
Name: COUNTRY, dtype: object

Colunm Name :  NCCODE
Describe:  count     1519
unique      25
top          4
freq       296
Name: NCCODE, dtype: object

Colunm Name :  CMPLASP
Describe:  count     19422
unique        2
top           Y
freq      18495
Name: CMPLASP, dtype: object
Unique values :  ['Y' 'N' nan]

Colunm Name :  CMPLHEP
Describe:  count     19422
unique        2
top           Y
freq      18359
Name: CMPLHEP, dtype: object
Unique values :  ['Y' 'N' nan]

In [13]:
df['RCONSC'].replace({'U': 'Unc'}, inplace=True)

In [14]:
df.RCONSC.unique()

array(['D', 'F', 'Unc'], dtype=object)

In [15]:
# Iterate over object columns
for column in object_col:
    columnSeriesObj = df[column]
    print()
    print('Colunm Name : ', column)
    print('Describe: ', columnSeriesObj.describe())
    if any(columnSeriesObj.unique() == 'U'):
        df = df[df[column] != 'U']                  # drop 'U' as category

Colunm Name :  RCONSC
Describe:  count     19435
unique        3
top           F
freq      14921
Name: RCONSC, dtype: object

Colunm Name :  SEX
Describe:  count     19435
unique        2
top           M
freq      10407
Name: SEX, dtype: object

Colunm Name :  RSLEEP
Describe:  count     19435
unique        2
top           N
freq      13750
Name: RSLEEP, dtype: object

Colunm Name :  RATRIAL
Describe:  count     18451
unique        2
top           N
freq      15282
Name: RATRIAL, dtype: object

Colunm Name :  RCT
Describe:  count     19435
unique        2
top           Y
freq      13024
Name: RCT, dtype: object

Colunm Name :  RVISINF
Describe:  count     19435
unique        2
top           N
freq      13020
Name: RVISINF, dtype: object

Colunm Name :  RHEP24
Describe:  count     19091
unique        2
top           N
freq      18655
Name: RHEP24, dtype: object

Colunm Name :  RASP3
Describe:  count     18451
unique        2
top           N
freq      14511
Name: RASP3, dtype: object

Colunm Name :  RDEF1
Describe:  count     19435
unique        3
top           Y
freq      14099
Name: RDEF1, dtype: object

Colunm Name :  RDEF2
Describe:  count     19435
unique        3
top           Y
freq      16645
Name: RDEF2, dtype: object

Colunm Name :  RDEF3
Describe:  count     19435
unique        3
top           Y
freq      14678
Name: RDEF3, dtype: object

Colunm Name :  RDEF4
Describe:  count     19435
unique        3
top           N
freq      10342
Name: RDEF4, dtype: object

Colunm Name :  RDEF5
Describe:  count     19435
unique        3
top           N
freq      12394
Name: RDEF5, dtype: object

Colunm Name :  RDEF6
Describe:  count     19435
unique        3
top           N
freq      12809
Name: RDEF6, dtype: object

Colunm Name :  RDEF7
Describe:  count     19435
unique        3
top           N
freq      15704
Name: RDEF7, dtype: object

Colunm Name :  RDEF8
Describe:  count     19435
unique        3
top           N
freq      16967
Name: RDEF8, dtype: object

Colunm Name :  STYPE
Describe:  count     19435
unique        5
top        PACS
freq       7855
Name: STYPE, dtype: object

Colunm Name :  RDATE
Describe:  count      19435
unique        65
top       lis-95
freq         680
Name: RDATE, dtype: object

Colunm Name :  RXASP
Describe:  count     19435
unique        2
top           Y
freq       9720
Name: RXASP, dtype: object

Colunm Name :  RXHEP
Describe:  count     19435
unique        4
top           N
freq       9718
Name: RXHEP, dtype: object

Colunm Name :  DASP14
Describe:  count     19413
unique        3
top           N
freq      10327
Name: DASP14, dtype: object

Colunm Name :  DASPLT
Describe:  count     19274
unique        3
top           Y
freq      11564
Name: DASPLT, dtype: object

Colunm Name :  DLH14
Describe:  count     19186
unique        3
top           N
freq      14699
Name: DLH14, dtype: object

Colunm Name :  DMH14
Describe:  count     18202
unique        3
top           N
freq      14164
Name: DMH14, dtype: object

Colunm Name :  DHH14
Describe:  count     983
unique      2
top         N
freq      793
Name: DHH14, dtype: object

Colunm Name :  DSCH
Describe:  count     18898
unique        3
top           N
freq      18432
Name: DSCH, dtype: object

Colunm Name :  DIVH
Describe:  count     18896
unique        3
top           N
freq      18525
Name: DIVH, dtype: object

Colunm Name :  DAP
Describe:  count     19179
unique        3
top           N
freq      18417
Name: DAP, dtype: object

Colunm Name :  DOAC
Describe:  count     19178
unique        2
top           N
freq      18543
Name: DOAC, dtype: object

Colunm Name :  DGORM
Describe:  count     19173
unique        3
top           N
freq      17154
Name: DGORM, dtype: object

Colunm Name :  DSTER
Describe:  count     19159
unique        2
top           N
freq      18466
Name: DSTER, dtype: object

Colunm Name :  DCAA
Describe:  count     19158
unique        3
top           N
freq      16994
Name: DCAA, dtype: object

Colunm Name :  DHAEMD
Describe:  count     19156
unique        2
top           N
freq      18607
Name: DHAEMD, dtype: object

Colunm Name :  DCAREND
Describe:  count     18180
unique        3
top           N
freq      18128
Name: DCAREND, dtype: object

Colunm Name :  DTHROMB
Describe:  count     18867
unique        3
top           N
freq      18853
Name: DTHROMB, dtype: object

Colunm Name :  DMAJNCH
Describe:  count     19166
unique        3
top           N
freq      19020
Name: DMAJNCH, dtype: object

Colunm Name :  DMAJNCHX
Describe:  count            142
unique           116
top       HAEMATURIA
freq               6
Name: DMAJNCHX, dtype: object

Colunm Name :  DSIDE
Describe:  count     19165
unique        3
top           N
freq      18535
Name: DSIDE, dtype: object

Colunm Name :  DSIDEX
Describe:  count            629
unique           507
top       HAEMATURIA
freq              17
Name: DSIDEX, dtype: object

Colunm Name :  DDIAGISC
Describe:  count     19155
unique        3
top           Y
freq      17167
Name: DDIAGISC, dtype: object

Colunm Name :  DDIAGHA
Describe:  count     19139
unique        2
top           N
freq      18546
Name: DDIAGHA, dtype: object

Colunm Name :  DDIAGUN
Describe:  count     19142
unique        2
top           N
freq      18172
Name: DDIAGUN, dtype: object

Colunm Name :  DNOSTRK
Describe:  count     19139
unique        2
top           N
freq      18724
Name: DNOSTRK, dtype: object

Colunm Name :  DNOSTRKX
Describe:  count     422
unique    249
top       TIA
freq       99
Name: DNOSTRKX, dtype: object

Colunm Name :  DRSISC
Describe:  count     19147
unique        3
top           N
freq      18738
Name: DRSISC, dtype: object

Colunm Name :  DRSH
Describe:  count     19148
unique        2
top           N
freq      19052
Name: DRSH, dtype: object

Colunm Name :  DRSUNK
Describe:  count     18170
unique        2
top           N
freq      17916
Name: DRSUNK, dtype: object

Colunm Name :  DPE
Describe:  count     19149
unique        2
top           N
freq      19026
Name: DPE, dtype: object

Colunm Name :  DALIVE
Describe:  count     19137
unique        2
top           Y
freq      10240
Name: DALIVE, dtype: object

Colunm Name :  DPLACE
Describe:  count     9653
unique       6
top          A
freq      7016
Name: DPLACE, dtype: object

Colunm Name :  DDEAD
Describe:  count     19125
unique        2
top           N
freq      17138
Name: DDEAD, dtype: object

Colunm Name :  DDEADX
Describe:  count               165
unique              137
top       HEART FAILURE
freq                  6
Name: DDEADX, dtype: object

Colunm Name :  FDEAD
Describe:  count     19048
unique        3
top           N
freq      14708
Name: FDEAD, dtype: object

Colunm Name :  FDEADX
Describe:  count         774
unique        379
top       UNKNOWN
freq          138
Name: FDEADX, dtype: object

Colunm Name :  FRECOVER
Describe:  count     14789
unique        3
top           N
freq      10935
Name: FRECOVER, dtype: object

Colunm Name :  FDENNIS
Describe:  count     14604
unique        3
top           Y
freq       7573
Name: FDENNIS, dtype: object

Colunm Name :  FPLACE
Describe:  count     14586
unique        6
top           A
freq      11368
Name: FPLACE, dtype: object

Colunm Name :  FAP
Describe:  count     14518
unique        3
top           Y
freq      10318
Name: FAP, dtype: object

Colunm Name :  FOAC
Describe:  count     13949
unique        3
top           N
freq      12061
Name: FOAC, dtype: object

Colunm Name :  COUNTRY
Describe:  count     18118
unique       36
top          UK
freq       5838
Name: COUNTRY, dtype: object

Colunm Name :  NCCODE
Describe:  count     1402
unique      25
top          4
freq       285
Name: NCCODE, dtype: object

Colunm Name :  CMPLASP
Describe:  count     18105
unique        2
top           Y
freq      17249
Name: CMPLASP, dtype: object

Colunm Name :  CMPLHEP
Describe:  count     18105
unique        2
top           Y
freq      17143
Name: CMPLHEP, dtype: object

In [16]:
# Iterate over numeric columns
for column in num_col:
    columnSeriesObj = df[column]
    print()
    print('Colunm Name : ', column)
    print('Describe: ', columnSeriesObj.describe())

Colunm Name :  HOSPNUM
Describe:  count    18118.000000
mean       201.277238
std        159.817967
min          1.000000
25%         64.000000
50%        161.000000
75%        319.000000
max        568.000000
Name: HOSPNUM, dtype: float64

Colunm Name :  RDELAY
Describe:  count    18118.000000
mean        20.191467
std         12.479038
min          1.000000
25%          9.000000
50%         19.000000
75%         29.000000
max         48.000000
Name: RDELAY, dtype: float64

Colunm Name :  AGE
Describe:  count    18118.000000
mean        71.718070
std         11.590137
min         16.000000
25%         65.000000
50%         73.000000
75%         80.000000
max         99.000000
Name: AGE, dtype: float64

Colunm Name :  RSBP
Describe:  count    18118.000000
mean       160.268186
std         27.661312
min         70.000000
25%        140.000000
50%        160.000000
75%        180.000000
max        295.000000
Name: RSBP, dtype: float64

Colunm Name :  HOURLOCAL
Describe:  count    18118.000000
mean        15.488189
std         11.716629
min          0.000000
25%         11.000000
50%         14.000000
75%         17.000000
max         99.000000
Name: HOURLOCAL, dtype: float64

Colunm Name :  MINLOCAL
Describe:  count    18118.000000
mean        30.713434
std         19.241131
min          0.000000
25%         15.000000
50%         30.000000
75%         45.000000
max         99.000000
Name: MINLOCAL, dtype: float64

Colunm Name :  DAYLOCAL
Describe:  count    18118.000000
mean         4.080031
std          1.841545
min          1.000000
25%          3.000000
50%          4.000000
75%          6.000000
max          7.000000
Name: DAYLOCAL, dtype: float64

Colunm Name :  ONDRUG
Describe:  count    18117.000000
mean        10.861070
std          4.201702
min          0.000000
25%          8.000000
50%         14.000000
75%         14.000000
max         14.000000
Name: ONDRUG, dtype: float64

Colunm Name :  DMAJNCHD
Describe:  count    139.000000
mean       9.971223
std       23.146647
min        0.000000
25%        4.000000
50%        7.000000
75%       10.000000
max      267.000000
Name: DMAJNCHD, dtype: float64

Colunm Name :  DSIDED
Describe:  count    593.000000
mean       7.563238
std       21.892160
min        0.000000
25%        2.000000
50%        5.000000
75%        9.000000
max      368.000000
Name: DSIDED, dtype: float64

Colunm Name :  DRSISCD
Describe:  count    390.000000
mean       5.628205
std       13.921843
min        0.000000
25%        1.000000
50%        3.000000
75%        7.000000
max      252.000000
Name: DRSISCD, dtype: float64

Colunm Name :  DRSHD
Describe:  count    94.000000
mean      6.521277
std       7.853126
min       0.000000
25%       2.000000
50%       5.000000
75%       9.000000
max      65.000000
Name: DRSHD, dtype: float64

Colunm Name :  DRSUNKD
Describe:  count    251.000000
mean       7.243028
std       10.619261
min        0.000000
25%        2.000000
50%        4.000000
75%        9.000000
max      101.000000
Name: DRSUNKD, dtype: float64

Colunm Name :  DPED
Describe:  count    122.000000
mean      10.754098
std        9.739849
min        0.000000
25%        5.000000
50%        9.000000
75%       14.000000
max       69.000000
Name: DPED, dtype: float64

Colunm Name :  DALIVED
Describe:  count    9590.000000
mean       13.141814
std        15.346239
min         0.000000
25%         6.000000
50%        11.000000
75%        15.000000
max       392.000000
Name: DALIVED, dtype: float64

Colunm Name :  DDEADD
Describe:  count    1973.000000
mean        9.781551
std        17.137033
min         0.000000
25%         3.000000
50%         6.000000
75%        12.000000
max       579.000000
Name: DDEADD, dtype: float64

Colunm Name :  DDEADC
Describe:  count    2230.000000
mean        2.413901
std         2.143670
min         0.000000
25%         1.000000
50%         1.000000
75%         4.000000
max         8.000000
Name: DDEADC, dtype: float64

Colunm Name :  FLASTD
Describe:  count      1.0
mean     109.0
std        NaN
min      109.0
25%      109.0
50%      109.0
75%      109.0
max      109.0
Name: FLASTD, dtype: float64

Colunm Name :  FDEADD
Describe:  count    4188.000000
mean       46.474212
std        57.632348
min         0.000000
25%         7.000000
50%        22.000000
75%        66.000000
max       579.000000
Name: FDEADD, dtype: float64

Colunm Name :  FDEADC
Describe:  count    4205.000000
mean        3.392152
std         2.353629
min         0.000000
25%         1.000000
50%         3.000000
75%         5.000000
max         8.000000
Name: FDEADC, dtype: float64

Colunm Name :  FU1_RECD
Describe:  count    18105.000000
mean        47.265617
std         50.359413
min          0.000000
25%         22.000000
50%         31.000000
75%         54.000000
max        942.000000
Name: FU1_RECD, dtype: float64

Colunm Name :  FU2_DONE
Describe:  count    18026.000000
mean       183.228004
std         71.542998
min          0.000000
25%        175.000000
50%        188.000000
75%        208.000000
max       1573.000000
Name: FU2_DONE, dtype: float64

Colunm Name :  CNTRYNUM
Describe:  count    18118.000000
mean        21.041395
std          8.457332
min          1.000000
25%         14.000000
50%         25.000000
75%         27.000000
max         44.000000
Name: CNTRYNUM, dtype: float64

Colunm Name :  FU1_COMP
Describe:  count    17700.000000
mean        30.964181
std         45.349261
min          0.000000
25%         13.000000
50%         16.000000
75%         30.000000
max        942.000000
Name: FU1_COMP, dtype: float64

Colunm Name :  DIED
Describe:  count    18118.000000
mean         0.232476
std          0.422422
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DIED, dtype: float64

Colunm Name :  TD
Describe:  count    18116.000000
mean       165.440881
std         81.851128
min          0.000000
25%        159.000000
50%        186.000000
75%        204.000000
max       1084.000000
Name: TD, dtype: float64

Colunm Name :  EXPDD
Describe:  count    18118.000000
mean         0.629661
std          0.230959
min          0.089100
25%          0.438825
50%          0.638200
75%          0.838100
max          0.995200
Name: EXPDD, dtype: float64

Colunm Name :  EXPD6
Describe:  count    18118.000000
mean         0.230715
std          0.195677
min          0.003600
25%          0.084500
50%          0.160700
75%          0.320775
max          0.901200
Name: EXPD6, dtype: float64

Colunm Name :  EXPD14
Describe:  count    18118.000000
mean         0.094821
std          0.105122
min          0.005100
25%          0.028500
50%          0.047300
75%          0.114400
max          0.576100
Name: EXPD14, dtype: float64

Colunm Name :  SET14D
Describe:  count    18118.000000
mean         0.999890
std          0.010506
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: SET14D, dtype: float64

Colunm Name :  ID14
Describe:  count    18118.000000
mean         0.095375
std          0.293740
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: ID14, dtype: float64

Colunm Name :  OCCODE
Describe:  count    18118.000000
mean         2.308091
std          1.018465
min          0.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          4.000000
Name: OCCODE, dtype: float64

Colunm Name :  DEAD1
Describe:  count    18118.000000
mean         0.079976
std          0.271263
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD1, dtype: float64

Colunm Name :  DEAD2
Describe:  count    18118.000000
mean         0.028977
std          0.167746
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD2, dtype: float64

Colunm Name :  DEAD3
Describe:  count    18118.000000
mean         0.004140
std          0.064208
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD3, dtype: float64

Colunm Name :  DEAD4
Describe:  count    18118.000000
mean         0.044376
std          0.205934
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD4, dtype: float64

Colunm Name :  DEAD5
Describe:  count    18118.000000
mean         0.020035
std          0.140125
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD5, dtype: float64

Colunm Name :  DEAD6
Describe:  count    18118.000000
mean         0.009162
std          0.095282
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD6, dtype: float64

Colunm Name :  DEAD7
Describe:  count    18118.000000
mean         0.028535
std          0.166501
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD7, dtype: float64

Colunm Name :  DEAD8
Describe:  count    18118.000000
mean         0.010266
std          0.100803
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD8, dtype: float64

Colunm Name :  H14
Describe:  count    18118.000000
mean         0.008500
std          0.091804
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: H14, dtype: float64

Colunm Name :  ISC14
Describe:  count    18118.000000
mean         0.020698
std          0.142374
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: ISC14, dtype: float64

Colunm Name :  NK14
Describe:  count    18118.000000
mean         0.013909
std          0.117116
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: NK14, dtype: float64

Colunm Name :  STRK14
Describe:  count    18118.000000
mean         0.042610
std          0.201981
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: STRK14, dtype: float64

Colunm Name :  HTI14
Describe:  count    18118.000000
mean         0.003091
std          0.055511
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: HTI14, dtype: float64

Colunm Name :  PE14
Describe:  count    18118.000000
mean         0.007175
std          0.084404
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: PE14, dtype: float64

Colunm Name :  DVT14
Describe:  count    18118.000000
mean         0.001104
std          0.033207
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DVT14, dtype: float64

Colunm Name :  TRAN14
Describe:  count    18118.000000
mean         0.008500
std          0.091804
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: TRAN14, dtype: float64

Colunm Name :  NCB14
Describe:  count    18118.000000
mean         0.027486
std          0.163501
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: NCB14, dtype: float64

In [17]:
df.RDATE.unique() # probably polish (https://en.wikipedia.org/wiki/Slavic_calendar)

array(['sty-91', 'lut-91', 'mar-91', 'kwi-91', 'maj-91', 'cze-91',
       'lip-91', 'sie-91', 'wrz-91', 'pa�-91', 'lis-91', 'gru-91',
       'sty-92', 'lut-92', 'mar-92', 'kwi-92', 'maj-92', 'cze-92',
       'lip-92', 'sie-92', 'wrz-92', 'pa�-92', 'lis-92', 'gru-92',
       'sty-93', 'lut-93', 'mar-93', 'lip-93', 'sty-94', 'wrz-93',
       'sie-93', 'gru-93', 'lis-93', 'kwi-93', 'mar-94', 'wrz-94',
       'lip-94', 'sie-94', 'maj-93', 'pa�-93', 'kwi-94', 'lut-94',
       'maj-94', 'cze-93', 'cze-94', 'gru-94', 'sty-95', 'pa�-94',
       'lis-94', 'lut-95', 'lip-95', 'maj-96', 'maj-95', 'mar-95',
       'wrz-95', 'pa�-95', 'kwi-95', 'lut-96', 'sty-96', 'cze-95',
       'sie-95', 'lis-95', 'gru-95', 'mar-96', 'kwi-96'], dtype=object)

In [18]:
#extract year from RDATE
df['RYEAR'] = df.RDATE.str.extract(r'(\d{2})', expand=False)

In [19]:
df.RYEAR.unique()

array(['91', '92', '93', '94', '95', '96'], dtype=object)

Month (EN) | Month (PL) | Month (in df)
:----- | ----: | -----:
January  | styczeń | sty
February  | luty  | lut
March | (brzezień) | Mar
April | kwiecień | kwi
May | (trawień) | maj
June | czerwiec | cze
July | lipiec | lip
August | sierpień | sie
September | wrzesień | wrz
Ocotber | październik | pa�
November | listopad | lis
December | grudzień | gru

In [20]:
#df.RDATE.to_string()
#type(df.RDATE)

In [21]:
# equivalents/translations for months
month_dict = {'sty': '01', 'lut': '02', 'mar': '03', 'kwi': '04', 'maj': '05', 'cze': '06',
                'lip': '07', 'sie': '08', 'wrz': '09', 'pa�': '10', 'lis': '11', 'gru': '12'}

In [22]:
# replace string in RDATE with number (according to month)
df.RDATE = df.RDATE.replace(month_dict, regex=True)

In [23]:
df.RDATE.unique()

array(['01-91', '02-91', '03-91', '04-91', '05-91', '06-91', '07-91',
       '08-91', '09-91', '10-91', '11-91', '12-91', '01-92', '02-92',
       '03-92', '04-92', '05-92', '06-92', '07-92', '08-92', '09-92',
       '10-92', '11-92', '12-92', '01-93', '02-93', '03-93', '07-93',
       '01-94', '09-93', '08-93', '12-93', '11-93', '04-93', '03-94',
       '09-94', '07-94', '08-94', '05-93', '10-93', '04-94', '02-94',
       '05-94', '06-93', '06-94', '12-94', '01-95', '10-94', '11-94',
       '02-95', '07-95', '05-96', '05-95', '03-95', '09-95', '10-95',
       '04-95', '02-96', '01-96', '06-95', '08-95', '11-95', '12-95',
       '03-96', '04-96'], dtype=object)

In [24]:
print(df.COUNTRY.value_counts())
df.CNTRYNUM.value_counts()

UK      5838
ITAL    2911
SWIT    1560
POLA     745
NETH     709
SWED     626
AUSL     569
ARGE     520
NORW     506
SPAI     458
CZEC     458
NEW      439
PORT     405
BELG     281
TURK     279
AUST     222
INDI     199
GREE     146
SING     138
USA      131
CANA     115
HONG     107
ISRA     105
HUNG     102
FINL      85
SLOK      84
BRAS      73
CHIL      61
SOUT      58
EIRE      54
SLOV      52
DENM      33
SRI       20
ROMA      18
JAPA       9
FRAN       2
Name: COUNTRY, dtype: int64

27    5838
14    2911
25    1560
18     745
15     709
24     626
1      569
29     520
17     506
7      458
22     458
16     439
19     405
3      281
35     279
2      222
37     199
31     146
34     138
28     131
5      115
30     107
13     105
36     102
10      85
44      84
42      73
6       61
21      58
9       54
20      52
8       33
23      20
33      18
38       9
11       2
Name: CNTRYNUM, dtype: int64

In [25]:
df['COUNTRY_ISO'] = df['COUNTRY'].replace({'UK': 'GB', 'ITAL': 'IT', 'SWIT': 'CH', 'POLA': 'PL', 'NETH': 'NL', 
    'SWED': 'SE', 'AUSL': 'AU', 'NORW': 'NO', 'ARGE': 'AR', 'SPAI': 'ES', 'CZEC': 'CZ', 'NEW': 'NZ', 'PORT': 'PT',
    'BELG': 'BE', 'TURK': 'TR', 'AUST': 'AT', 'INDI': 'IN', 'GREE': 'GR', 'SING': 'SG', 'USA': 'USA', 'CANA': 'CA',
    'ISRA': 'IL', 'HUNG': 'HU', 'HONG': 'HK', 'SLOK': 'SK', 'FINL': 'FI', 'BRAS': 'BR', 'EIRE': 'IE', 'CHIL': 'CL',
    'SOUT': 'ZA', 'SLOV': 'SI', 'DENM': 'DK', 'ROMA': 'RO', 'SRI': 'LK', 'JAPA': 'JP', 'FRAN': 'FR'})

In [26]:
#df.COUNTRY_ISO.value_counts()

In [27]:
pd.qcut(x=df['AGE'], q=5, precision=0)

0        (63.0, 70.0]
1        (70.0, 76.0]
2        (70.0, 76.0]
3        (76.0, 82.0]
4        (76.0, 82.0]
             ...
19430    (63.0, 70.0]
19431    (70.0, 76.0]
19432    (76.0, 82.0]
19433    (82.0, 99.0]
19434    (15.0, 63.0]
Name: AGE, Length: 18118, dtype: category
Categories (5, interval[float64]): [(15.0, 63.0] < (63.0, 70.0] < (70.0, 76.0] < (76.0, 82.0] < (82.0, 99.0]]

In [28]:
# bin AGE into equally sized bins
labels = ['16 - 63', '64 - 70', '71 - 76', '77 - 82', '83 - 99']
df['AGE_bin'] = pd.qcut(x=df['AGE'], q=5, labels = labels, precision=0)

In [29]:
df.AGE_bin.value_counts()

71 - 76    3965
16 - 63    3951
77 - 82    3665
64 - 70    3344
83 - 99    3193
Name: AGE_bin, dtype: int64

In [30]:
# Bin Delay-Time (when joining the study after the stroke)

def r_time(x):
        if x <= 3: return '0 - 3'
        elif x <= 6: return '4 - 6'
        elif x <= 12: return '7 - 12'
        elif x <= 24: return '13 - 24'
        elif x <= 48: return '25 - 48'

df['RDELAY_bin'] = pd.Categorical(df.RDELAY.apply(r_time), 
                ['0 - 3', '4 - 6', '7 - 12', '13 - 24', '25 - 48'])

In [31]:
group_hep24 = df.groupby(by = ['RHEP24', 'RASP3'])
group_hep24['RHEP24'].value_counts()

RHEP24  RASP3  RHEP24
N       N      N         13232
        Y      N          3615
Y       N      Y           285
        Y      Y            96
Name: RHEP24, dtype: int64

In [32]:
# replace H with M
df['RXHEP'].replace('H','M', inplace=True)

In [33]:
print(df.RXHEP.describe())
print(df.RXHEP.unique())

count     18118
unique        3
top           N
freq       9088
Name: RXHEP, dtype: object
['N' 'L' 'M']

In [34]:
# merge DHH14 into DMH14 
# (DHH14 = Medium dose heparin given for 14 days etc in pilot (combine with DMH14))
df['DMH14'] = np.where(df['DMH14'].isnull() == True, df['DHH14'], df['DMH14'])

In [35]:
# new variable: RXHEP14
# Heparin given for 14 days or till death/discharge (Y, N)
#df['RXHEP14'] = np.where(df["RXHEP"] == 'M', df['DMH14'], 'N')
#df['RXHEP14'] = np.where(df["RXHEP"] == 'L', df['DLH14'], 'N')

conditions = [
    df['RXHEP'].eq('M') & df['DMH14'].eq('Y'),
    df['RXHEP'].eq('L') & df['DLH14'].eq('Y')]

choices = ['Y','Y']

df['RXHEP14'] = np.select(conditions, choices, default='N')

In [36]:
# new variable: HEP14
# Dose Heparin given for 14 days or till death/discharge (Y, N)

conditions = [
    df['RXHEP'].eq('M') & df['DMH14'].eq('Y'),
    df['RXHEP'].eq('L') & df['DLH14'].eq('Y')]

choices = ['M','L']

df['HEP14'] = np.select(conditions, choices, default='N')

In [37]:
# Do the patients receive the treatment they were assigned to? 
# No => Go with DASP14 an HEP14, i.e. the treatment the patients actually received. 
print(df['RXHEP'].groupby(by = [df['HEP14']]).value_counts())
print(df['RXASP'].groupby(df['DASP14']).value_counts())

HEP14  RXHEP
L      L        4149
M      M        3950
N      N        9088
       M         563
       L         368
Name: RXHEP, dtype: int64
DASP14  RXASP
N       N        8942
        Y         717
Y       Y        8303
        N         135
Name: RXASP, dtype: int64

In [38]:
# new variable: TREAT14 (Meds given for 14 days or till death or discharge)
# Treatment: 'Aspirin','Aspirin + Medium Heparin','Aspirin + Low Heparin', 'Medium Heparin', 'Low Heparin'

conditions = [
    df['DASP14'].eq('Y') & df['HEP14'].eq('N'),     # Aspirin - no Heparin
    df['DASP14'].eq('Y') & df['HEP14'].eq('M'),     # Aspirin + Medium Heparin
    df['DASP14'].eq('Y') & df['HEP14'].eq('L'),     # Aspirin + Low Heparin
    df['HEP14'].eq('M'),                            # Medium Heparin
    df['HEP14'].eq('L')]                            # Low Heparin

choices = ['Aspirin','Aspirin + Medium Heparin','Aspirin + Low Heparin', 'Medium Heparin', 'Low Heparin']

df['TREAT14'] = np.select(conditions, choices, default='Control')

In [39]:
df.TREAT14.value_counts()

Control                     5508
Aspirin                     4511
Low Heparin                 2119
Medium Heparin              2053
Aspirin + Low Heparin       2030
Aspirin + Medium Heparin    1897
Name: TREAT14, dtype: int64

In [40]:
# new variable: DMEDS
# additional medication beside ASP or HEP

conditions = [
    df['DSCH'].eq('Y'), df['DIVH'].eq('Y'), df['DAP'].eq('Y'), df['DOAC'].eq('Y'),
    df['DGORM'].eq('Y'), df['DSTER'].eq('Y'), df['DCAA'].eq('Y')]

choices = ['Subcut. Heparin','Intrav. Heparin','Antiplatelet drug','Other coanticoagulants',
    'Glycerol or mannitol','Steroids','Calcium antagonist']

df['DMEDS'] = np.select(conditions, choices, default='N')

In [41]:
df.DMEDS.describe()

count     18118
unique        8
top           N
freq      13155
Name: DMEDS, dtype: object

In [42]:
# new variable: DIAG
# combine all types of first stroke

conditions = [
    df['DDIAGISC'].eq('Y'), df['DDIAGHA'].eq('Y'), df['DDIAGUN'].eq('Y'), df['DNOSTRK'].eq('Y')]

choices = ['Ischaemic stroke','Haemorrhagic stroke','Indeterminate stroke','Not a stroke']

df['DIAG'] = np.select(conditions, choices, default='Unknown')

In [43]:
# new variable: DIAGSTR
# combine all types of first stroke - without DNOSTRK' + drop 'Unknown'

conditions = [
    df['DDIAGISC'].eq('Y'), df['DDIAGHA'].eq('Y'), df['DDIAGUN'].eq('Y')]

choices = ['Ischaemic stroke','Haemorrhagic stroke','Indeterminate stroke']

df['DIAGSTR'] = np.select(conditions, choices, default='Unknown')

In [44]:
df.DIAGSTR.value_counts()

Ischaemic stroke        16342
Indeterminate stroke      932
Haemorrhagic stroke       568
Unknown                   276
Name: DIAGSTR, dtype: int64

In [45]:
df = df[df['DIAGSTR'] != 'Unknown']

In [46]:
# new variable: RDIAG14
# combine all types of recurrent stroke (within 14 days)

conditions = [
    df['DRSISC'].eq('Y'), df['DRSH'].eq('Y'), df['DRSUNK'].eq('Y'), df['DPE'].eq('Y')]

choices = ['Ischaemic stroke','Haemorrhagic stroke','Unknown type', 'Pulmonary embolism']

df['RDIAG14'] = np.select(conditions, choices, default='None')

<ipython-input-46-132305495577>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RDIAG14'] = np.select(conditions, choices, default='None')

In [47]:
df.RDIAG14.value_counts()

None                   16996
Ischaemic stroke         390
Unknown type             248
Pulmonary embolism       117
Haemorrhagic stroke       91
Name: RDIAG14, dtype: int64

In [48]:
# new variable: RDISCH14
# Discharged after 14 days - alive or dead?

conditions = [
    df['DALIVE'].eq('Y'), df['DDEAD'].eq('Y'), df['DALIVE'].eq('N')]

choices = ['Discharged alive from hospital', 'Dead on discharge form', 'Not discharged']

df['RDISCH14'] = np.select(conditions, choices, default= 'Unknown')

<ipython-input-48-a310e8e80ec1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['RDISCH14'] = np.select(conditions, choices, default= 'Unknown')

In [49]:
df.RDISCH14.value_counts()

Discharged alive from hospital    9401
Not discharged                    6480
Dead on discharge form            1956
Unknown                              5
Name: RDISCH14, dtype: int64

In [50]:
df = df[df['RDISCH14'] != 'Unknown']

In [51]:
# neither dead nor alive?! - not discharged?
# DALIVE - Discharged alive from hospital
# DDEAD - Dead on discharge form
print(df['DDEAD'].groupby(df['DALIVE']).value_counts())

DALIVE  DDEAD
N       N        6474
        Y        1949
Y       N        9401
Name: DDEAD, dtype: int64

In [52]:
# DPLACE - Discharge destination
# only patients that were alive were discharged to certain destinations
print(df['DALIVE'].groupby(df['DPLACE']).value_counts())
print(df['DDEAD'].groupby(df['DPLACE']).value_counts())

DPLACE  DALIVE
A       Y         6435
B       Y          250
C       Y          250
D       Y          499
E       Y         1440
Name: DALIVE, dtype: int64
DPLACE  DDEAD
A       N        6435
B       N         250
C       N         250
D       N         499
E       N        1440
Name: DDEAD, dtype: int64

In [53]:
# discharged patients were alive and may have died within 6 months
group_da = df.groupby(by=['DPLACE', 'DDEAD','DALIVE'])
group_da['FDEAD'].value_counts()

DPLACE  DDEAD  DALIVE  FDEAD
A       N      Y       N        5989
                       Y         388
B       N      Y       N         217
                       Y          30
C       N      Y       N         217
                       Y          31
D       N      Y       N         355
                       Y         141
E       N      Y       N        1194
                       Y         241
Name: FDEAD, dtype: int64

In [54]:
# DDEADC - Cause of death
# 0 in DDEADC have not died?
print(df['DDEAD'].groupby(df['DDEADC']).value_counts())
print(df['DALIVE'].groupby(df['DDEADC']).value_counts())

DDEADC  DDEAD
0.0     N        257
1.0     Y        952
2.0     Y        215
3.0     Y         44
4.0     Y        362
5.0     Y        152
6.0     Y         86
7.0     Y        103
8.0     Y         41
Name: DDEAD, dtype: int64
DDEADC  DALIVE
0.0     Y         137
        N         120
1.0     N         948
2.0     N         215
3.0     N          44
4.0     N         362
5.0     N         152
6.0     N          83
7.0     N         103
8.0     N          41
Name: DALIVE, dtype: int64

In [55]:
# when DALIVE = N equals "not discharged" then patients should appear in OCCODE (outcome @ 6 months; 1 - dead @ 6 months)
group_da = df.groupby(by=['OCCODE', 'DDEAD','DALIVE'])
group_da['FDEAD'].value_counts()

OCCODE  DDEAD  DALIVE  FDEAD
1       N      N       Y        1277
               Y       Y         822
        Y      N       Y        1948
2       N      N       N        3523
                       Y          54
               Y       N        3461
                       Y          71
        Y      N       N           1
3       N      N       N        1038
               Y       N        2533
4       N      N       N         569
               Y       N        2438
Name: FDEAD, dtype: int64

In [56]:
# OCCODE has more info on dependency/recovery after 6 months than FDENNIS (no unknown)
group_depen = df.groupby(by=['OCCODE', 'FDENNIS'])
print(group_depen['SEX'].value_counts())

OCCODE  FDENNIS  SEX
1       N        F         1
2       Y        F      3577
                 M      3409
3       N        M      2255
                 F      1317
4       N        M      1875
                 F      1132
Name: SEX, dtype: int64

In [57]:

# new variable: DEAD
# Cause of death (regardless of time - within 14 days or 6 months)

conditions = [
    df['DEAD1'].eq(1), df['DEAD2'].eq(1), df['DEAD3'].eq(1), df['DEAD4'].eq(1), 
    df['DEAD5'].eq(1), df['DEAD6'].eq(1), df['DEAD7'].eq(1), df['DEAD8'].eq(1)]

choices = ['Initial stroke','Recurrent stroke (ischemiac/unknown)', 'Recurrent stroke (haemorraghic)', 'Pneumonia', 'Coronary heart disease', 'Pulmonary embolism', 'Other vascular or unknown', 'Non vascular']

df['DEAD'] = np.select(conditions, choices, default='Alive')

In [58]:
df.DEAD.value_counts()

Alive                                   13776
Initial stroke                           1444
Pneumonia                                 799
Recurrent stroke (ischemiac/unknown)      523
Other vascular or unknown                 514
Coronary heart disease                    363
Non vascular                              178
Pulmonary embolism                        165
Recurrent stroke (haemorraghic)            75
Name: DEAD, dtype: int64

In [59]:
df['DDEADC'].replace({1: 'Initial Stroke', 2: 'Recurrent stroke (ischaemic or unknown)', 3: 'Recurrent stroke (haemorrhagic)', 
4: 'Pneumonia', 5: 'Coronary heart disease', 6: 'Pulmonary embolism', 7: 'Other vascular or unknown', 8: 'Non-vascular', 0: 'Unknown'}, inplace=True)

In [60]:
df['FDEADC'].replace({1: 'Initial Stroke', 2: 'Recurrent stroke (ischaemic or unknown)', 3: 'Recurrent stroke (haemorrhagic)', 
4: 'Pneumonia', 5: 'Coronary heart disease', 6: 'Pulmonary embolism', 7: 'Other vascular or unknown', 8: 'Non-vascular', 0: 'Unknown'}, inplace=True)

In [61]:
# check if correct - 4 patients not correctly assigned - but FDEADC is in line with all deaths (either within 14 days or 6 months - use this variable)
group_dc = df.groupby(by = ['DDEADC','FDEADC'])
group_dc['DEAD'].value_counts()

DDEADC                                   FDEADC                                   DEAD
Coronary heart disease                   Coronary heart disease                   Coronary heart disease                  152
Initial Stroke                           Initial Stroke                           Initial stroke                          952
Non-vascular                             Non-vascular                             Non vascular                             38
                                                                                  Other vascular or unknown                 3
Other vascular or unknown                Other vascular or unknown                Other vascular or unknown               103
Pneumonia                                Pneumonia                                Pneumonia                               362
Pulmonary embolism                       Pulmonary embolism                       Pulmonary embolism                       85
Recurrent stroke (haemorrhagic)          Recurrent stroke (haemorrhagic)          Recurrent stroke (haemorraghic)          44
Recurrent stroke (ischaemic or unknown)  Recurrent stroke (ischaemic or unknown)  Recurrent stroke (ischemiac/unknown)    215
Unknown                                  Coronary heart disease                   Coronary heart disease                    3
                                         Initial Stroke                           Initial stroke                            2
                                         Non-vascular                             Non vascular                              1
                                         Other vascular or unknown                Other vascular or unknown                 3
                                         Pneumonia                                Pneumonia                                 4
                                         Pulmonary embolism                       Pulmonary embolism                        4
                                         Recurrent stroke (ischaemic or unknown)  Recurrent stroke (ischemiac/unknown)      6
                                         Unknown                                  Other vascular or unknown                 2
Name: DEAD, dtype: int64

In [62]:
df['DPLACE'].replace({'A': 'Home', 'B': 'Relatives home', 'C': 'Residential care', 'D': 'Nursing home', 'E': 'Other hospital departments', 'U': 'Unknown'}, inplace=True)

In [63]:
df['FPLACE'].replace({'A': 'Home', 'B': 'Relatives home', 'C': 'Residential care', 'D': 'Nursing home', 'E': 'Other hospital departments', 'U': 'Unknown'}, inplace=True)

In [64]:
df['FDEADC'].replace({1: 'Initial Stroke', 2: 'Recurrent stroke (ischaemic or unknown)', 3: 'Recurrent stroke (haemorrhagic)', 
4: 'Pneumonia', 5: 'Coronary heart disease', 6: 'Pulmonary embolism', 7: 'Other vascular or unknown', 8: 'Non-vascular', 0: 'Unknown'}, inplace=True)

In [65]:
# drop '0' and '9' - not many values and the values equla to "missing or unknown"
df.OCCODE.value_counts()

2    7111
1    4060
3    3572
4    3007
0      87
Name: OCCODE, dtype: int64

In [66]:
df = df[df['OCCODE'] != 0]
df = df[df['OCCODE'] != 9]

In [67]:
df.OCCODE.value_counts()

2    7111
1    4060
3    3572
4    3007
Name: OCCODE, dtype: int64

In [68]:
#df['OCCODE'].replace({1: 'Dead', 2: 'Dependent', 3: 'Not recovered', 4: 'Recovered'}, inplace=True)

In [69]:
for column in df.columns:
    columnSeriesObj = df[column]
    if columnSeriesObj.isnull().sum() != 0:
        print('Column Name: ', column)
        print('Missing values : ', columnSeriesObj.isnull().sum() )

Column Name:  RATRIAL
Missing values :  879
Column Name:  RHEP24
Missing values :  296
Column Name:  RASP3
Missing values :  879
Column Name:  DASP14
Missing values :  7
Column Name:  DASPLT
Missing values :  124
Column Name:  DLH14
Missing values :  7
Column Name:  DMH14
Missing values :  6
Column Name:  DHH14
Missing values :  16871
Column Name:  ONDRUG
Missing values :  1
Column Name:  DSCH
Missing values :  247
Column Name:  DIVH
Missing values :  248
Column Name:  DAP
Missing values :  2
Column Name:  DOAC
Missing values :  2
Column Name:  DGORM
Missing values :  7
Column Name:  DSTER
Missing values :  12
Column Name:  DCAA
Missing values :  13
Column Name:  DHAEMD
Missing values :  12
Column Name:  DCAREND
Missing values :  885
Column Name:  DTHROMB
Missing values :  258
Column Name:  DMAJNCHD
Missing values :  17611
Column Name:  DMAJNCHX
Missing values :  17614
Column Name:  DSIDED
Missing values :  17166
Column Name:  DSIDEX
Missing values :  17162
Column Name:  DDIAGISC
Missing values :  5
Column Name:  DDIAGHA
Missing values :  8
Column Name:  DDIAGUN
Missing values :  7
Column Name:  DNOSTRK
Missing values :  9
Column Name:  DNOSTRKX
Missing values :  17742
Column Name:  DRSISC
Missing values :  3
Column Name:  DRSISCD
Missing values :  17362
Column Name:  DRSH
Missing values :  1
Column Name:  DRSHD
Missing values :  17656
Column Name:  DRSUNK
Missing values :  886
Column Name:  DRSUNKD
Missing values :  17500
Column Name:  DPED
Missing values :  17629
Column Name:  DALIVE
Missing values :  7
Column Name:  DALIVED
Missing values :  8423
Column Name:  DPLACE
Missing values :  8945
Column Name:  DDEAD
Missing values :  6
Column Name:  DDEADD
Missing values :  15794
Column Name:  DDEADC
Missing values :  15538
Column Name:  DDEADX
Missing values :  17606
Column Name:  FDEAD
Missing values :  2
Column Name:  FLASTD
Missing values :  17749
Column Name:  FDEADD
Missing values :  13588
Column Name:  FDEADC
Missing values :  13570
Column Name:  FDEADX
Missing values :  17040
Column Name:  FRECOVER
Missing values :  4184
Column Name:  FDENNIS
Missing values :  4184
Column Name:  FPLACE
Missing values :  4186
Column Name:  FAP
Missing values :  4248
Column Name:  FOAC
Missing values :  4253
Column Name:  FU2_DONE
Missing values :  2
Column Name:  FU1_COMP
Missing values :  403
Column Name:  NCCODE
Missing values :  16424

+ Drop NAs:
    + RATRIAL not noted during trial phase (984 patients) - kick out for model if needed
    + RHEP24 and RASP3 (info on meds prior to first stroke) - kick out if needed/no additional info
    + DMH14 and DLH14
    + DRSISC
    
+ Drop entirely:
    + DHH14 - (was merged with DMH14)
    + FDENNIS - is included in OCCODE ('dependent' after 6 months)
    + 'DMAJNCHX', 'DSIDED', 'DSIDEX', 'DNOSTRKX', 'DDEADX', 'FLASTD', 'FDEADX', 'NCCODE' - (no additional info and many missing values)

In [70]:
# drop the following columns entirely
df = df.drop(['DHH14', 'FDENNIS', 'DMAJNCHX', 'DSIDED', 'DSIDEX', 'DNOSTRKX', 'DDEADX', 'FLASTD', 'FDEADX', 'NCCODE'], axis=1)

In [71]:
for column in df.columns:
    columnSeriesObj = df[column]
    if columnSeriesObj.isnull().sum() != 0:
        print('Column Name: ', column)
        print('Missing values : ', columnSeriesObj.isnull().sum() )

Column Name:  RATRIAL
Missing values :  879
Column Name:  RHEP24
Missing values :  296
Column Name:  RASP3
Missing values :  879
Column Name:  DASP14
Missing values :  7
Column Name:  DASPLT
Missing values :  124
Column Name:  DLH14
Missing values :  7
Column Name:  DMH14
Missing values :  6
Column Name:  ONDRUG
Missing values :  1
Column Name:  DSCH
Missing values :  247
Column Name:  DIVH
Missing values :  248
Column Name:  DAP
Missing values :  2
Column Name:  DOAC
Missing values :  2
Column Name:  DGORM
Missing values :  7
Column Name:  DSTER
Missing values :  12
Column Name:  DCAA
Missing values :  13
Column Name:  DHAEMD
Missing values :  12
Column Name:  DCAREND
Missing values :  885
Column Name:  DTHROMB
Missing values :  258
Column Name:  DMAJNCHD
Missing values :  17611
Column Name:  DDIAGISC
Missing values :  5
Column Name:  DDIAGHA
Missing values :  8
Column Name:  DDIAGUN
Missing values :  7
Column Name:  DNOSTRK
Missing values :  9
Column Name:  DRSISC
Missing values :  3
Column Name:  DRSISCD
Missing values :  17362
Column Name:  DRSH
Missing values :  1
Column Name:  DRSHD
Missing values :  17656
Column Name:  DRSUNK
Missing values :  886
Column Name:  DRSUNKD
Missing values :  17500
Column Name:  DPED
Missing values :  17629
Column Name:  DALIVE
Missing values :  7
Column Name:  DALIVED
Missing values :  8423
Column Name:  DPLACE
Missing values :  8945
Column Name:  DDEAD
Missing values :  6
Column Name:  DDEADD
Missing values :  15794
Column Name:  DDEADC
Missing values :  15538
Column Name:  FDEAD
Missing values :  2
Column Name:  FDEADD
Missing values :  13588
Column Name:  FDEADC
Missing values :  13570
Column Name:  FRECOVER
Missing values :  4184
Column Name:  FPLACE
Missing values :  4186
Column Name:  FAP
Missing values :  4248
Column Name:  FOAC
Missing values :  4253
Column Name:  FU2_DONE
Missing values :  2
Column Name:  FU1_COMP
Missing values :  403

In [72]:

df = df.dropna(subset=['DASP14', 'DLH14', 'DMH14', 'ONDRUG', 'DDIAGISC', 'DDIAGHA', 'DDIAGUN', 'DNOSTRK', 'DRSISC', 'DRSH', 'DALIVE', 'DDEAD', 'FDEAD'])
#df_dropped.info()

In [73]:
#save clean file
df.to_csv('data/IST_corrected_clean.csv')

In [74]:
#import missingno as msno

In [75]:
#msno.bar(df_bs);

In [76]:
#msno.matrix(df_bs);

In [77]:
# sorted by weight
#sorted = df_bs.sort_values('weight')
#msno.matrix(sorted);