In [1]:
import pandas as pd
import numpy as np

In [2]:
#df = pd.read_csv('data/Train1.csv', error_bad_lines=False, index_col=False, dtype= 'unicode')

In [3]:
df = pd.read_csv('data/IST_corrected.csv', low_memory = False)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19435 entries, 0 to 19434
Columns: 112 entries, HOSPNUM to NCB14
dtypes: float64(20), int64(29), object(63)
memory usage: 16.6+ MB

In [5]:
df.head()

,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RATRIAL,RCT,RVISINF,RHEP24,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,1,17,D,M,69,Y,NaN,Y,Y,NaN,...,0,0,0,0,0,0,0,0,0,0
1,1,10,F,M,76,Y,NaN,Y,N,NaN,...,0,0,0,0,0,0,0,0,0,0
2,1,43,F,F,71,N,NaN,Y,N,NaN,...,0,0,0,0,0,0,0,0,0,0
3,1,6,F,M,81,N,NaN,N,N,NaN,...,0,0,0,0,0,0,0,0,0,0
4,4,20,F,M,78,N,NaN,N,N,NaN,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#df.columns.tolist()

In [7]:
#df.isnull().sum().tolist()

In [8]:
# check for duplicates
double = df[df.duplicated()]
double

Empty DataFrame
Columns: [HOSPNUM, RDELAY, RCONSC, SEX, AGE, RSLEEP, RATRIAL, RCT, RVISINF, RHEP24, RASP3, RSBP, RDEF1, RDEF2, RDEF3, RDEF4, RDEF5, RDEF6, RDEF7, RDEF8, STYPE, RDATE, HOURLOCAL, MINLOCAL, DAYLOCAL, RXASP, RXHEP, DASP14, DASPLT, DLH14, DMH14, DHH14, ONDRUG, DSCH, DIVH, DAP, DOAC, DGORM, DSTER, DCAA, DHAEMD, DCAREND, DTHROMB, DMAJNCH, DMAJNCHD, DMAJNCHX, DSIDE, DSIDED, DSIDEX, DDIAGISC, DDIAGHA, DDIAGUN, DNOSTRK, DNOSTRKX, DRSISC, DRSISCD, DRSH, DRSHD, DRSUNK, DRSUNKD, DPE, DPED, DALIVE, DALIVED, DPLACE, DDEAD, DDEADD, DDEADC, DDEADX, FDEAD, FLASTD, FDEADD, FDEADC, FDEADX, FRECOVER, FDENNIS, FPLACE, FAP, FOAC, FU1_RECD, FU2_DONE, COUNTRY, CNTRYNUM, FU1_COMP, NCCODE, CMPLASP, CMPLHEP, DIED, TD, EXPDD, EXPD6, EXPD14, SET14D, ID14, OCCODE, DEAD1, DEAD2, DEAD3, DEAD4, DEAD5, ...]
Index: []

[0 rows x 112 columns]

In [9]:
df_types = df.columns.to_series().groupby(df.dtypes).groups
{k.name: v for k, v in df_types.items()}

{'int64': Index(['HOSPNUM', 'RDELAY', 'AGE', 'RSBP', 'HOURLOCAL', 'MINLOCAL', 'DAYLOCAL',
        'CNTRYNUM', 'DIED', 'SET14D', 'ID14', 'OCCODE', 'DEAD1', 'DEAD2',
        'DEAD3', 'DEAD4', 'DEAD5', 'DEAD6', 'DEAD7', 'DEAD8', 'H14', 'ISC14',
        'NK14', 'STRK14', 'HTI14', 'PE14', 'DVT14', 'TRAN14', 'NCB14'],
       dtype='object'),
 'float64': Index(['ONDRUG', 'DMAJNCHD', 'DSIDED', 'DRSISCD', 'DRSHD', 'DRSUNKD', 'DPED',
        'DALIVED', 'DDEADD', 'DDEADC', 'FLASTD', 'FDEADD', 'FDEADC', 'FU1_RECD',
        'FU2_DONE', 'FU1_COMP', 'TD', 'EXPDD', 'EXPD6', 'EXPD14'],
       dtype='object'),
 'object': Index(['RCONSC', 'SEX', 'RSLEEP', 'RATRIAL', 'RCT', 'RVISINF', 'RHEP24',
        'RASP3', 'RDEF1', 'RDEF2', 'RDEF3', 'RDEF4', 'RDEF5', 'RDEF6', 'RDEF7',
        'RDEF8', 'STYPE', 'RDATE', 'RXASP', 'RXHEP', 'DASP14', 'DASPLT',
        'DLH14', 'DMH14', 'DHH14', 'DSCH', 'DIVH', 'DAP', 'DOAC', 'DGORM',
        'DSTER', 'DCAA', 'DHAEMD', 'DCAREND', 'DTHROMB', 'DMAJNCH', 'DMAJNCHX',
        'DSIDE', 'DSIDEX', 'DDIAGISC', 'DDIAGHA', 'DDIAGUN', 'DNOSTRK',
        'DNOSTRKX', 'DRSISC', 'DRSH', 'DRSUNK', 'DPE', 'DALIVE', 'DPLACE',
        'DDEAD', 'DDEADX', 'FDEAD', 'FDEADX', 'FRECOVER', 'FDENNIS', 'FPLACE',
        'FAP', 'FOAC', 'COUNTRY', 'NCCODE', 'CMPLASP', 'CMPLHEP'],
       dtype='object')}

In [10]:
object_col = list(df.select_dtypes(include='object').columns)
num_col = list(df.select_dtypes(include=['float64', 'int64']).columns)

In [11]:
#object_col

In [12]:
# Iterate over object columns
for column in object_col:
    columnSeriesObj = df[column]
    print()
    print('Colunm Name : ', column)
    print('Describe: ', columnSeriesObj.describe())
    if columnSeriesObj.nunique() <= 6:
        df[column] = df[column].str.upper()                     # all strings in uppercase
        print('Unique values : ', columnSeriesObj.unique())

Colunm Name :  RCONSC
Describe:  count     19435
unique        3
top           F
freq      14921
Name: RCONSC, dtype: object
Unique values :  ['D' 'F' 'U']

Colunm Name :  SEX
Describe:  count     19435
unique        2
top           M
freq      10407
Name: SEX, dtype: object
Unique values :  ['M' 'F']

Colunm Name :  RSLEEP
Describe:  count     19435
unique        2
top           N
freq      13750
Name: RSLEEP, dtype: object
Unique values :  ['Y' 'N']

Colunm Name :  RATRIAL
Describe:  count     18451
unique        2
top           N
freq      15282
Name: RATRIAL, dtype: object
Unique values :  [nan 'Y' 'N']

Colunm Name :  RCT
Describe:  count     19435
unique        2
top           Y
freq      13024
Name: RCT, dtype: object
Unique values :  ['Y' 'N']

Colunm Name :  RVISINF
Describe:  count     19435
unique        2
top           N
freq      13020
Name: RVISINF, dtype: object
Unique values :  ['Y' 'N']

Colunm Name :  RHEP24
Describe:  count     19091
unique        2
top           N
freq      18655
Name: RHEP24, dtype: object
Unique values :  [nan 'N' 'Y']

Colunm Name :  RASP3
Describe:  count     18451
unique        2
top           N
freq      14511
Name: RASP3, dtype: object
Unique values :  [nan 'N' 'Y']

Colunm Name :  RDEF1
Describe:  count     19435
unique        3
top           Y
freq      14099
Name: RDEF1, dtype: object
Unique values :  ['N' 'Y' 'C']

Colunm Name :  RDEF2
Describe:  count     19435
unique        3
top           Y
freq      16645
Name: RDEF2, dtype: object
Unique values :  ['N' 'Y' 'C']

Colunm Name :  RDEF3
Describe:  count     19435
unique        3
top           Y
freq      14678
Name: RDEF3, dtype: object
Unique values :  ['N' 'Y' 'C']

Colunm Name :  RDEF4
Describe:  count     19435
unique        3
top           N
freq      10342
Name: RDEF4, dtype: object
Unique values :  ['Y' 'N' 'C']

Colunm Name :  RDEF5
Describe:  count     19435
unique        3
top           N
freq      12394
Name: RDEF5, dtype: object
Unique values :  ['N' 'Y' 'C']

Colunm Name :  RDEF6
Describe:  count     19435
unique        3
top           N
freq      12809
Name: RDEF6, dtype: object
Unique values :  ['Y' 'N' 'C']

Colunm Name :  RDEF7
Describe:  count     19435
unique        3
top           N
freq      15704
Name: RDEF7, dtype: object
Unique values :  ['N' 'Y' 'C']

Colunm Name :  RDEF8
Describe:  count     19435
unique        3
top           N
freq      16967
Name: RDEF8, dtype: object
Unique values :  ['Y' 'N' 'C']

Colunm Name :  STYPE
Describe:  count     19435
unique        5
top        PACS
freq       7855
Name: STYPE, dtype: object
Unique values :  ['PACS' 'LACS' 'POCS' 'OTH' 'TACS']

Colunm Name :  RDATE
Describe:  count      19435
unique        65
top       lis-95
freq         680
Name: RDATE, dtype: object

Colunm Name :  RXASP
Describe:  count     19435
unique        2
top           Y
freq       9720
Name: RXASP, dtype: object
Unique values :  ['Y' 'N']

Colunm Name :  RXHEP
Describe:  count     19435
unique        4
top           N
freq       9718
Name: RXHEP, dtype: object
Unique values :  ['N' 'L' 'H' 'M']

Colunm Name :  DASP14
Describe:  count     19413
unique        5
top           N
freq      10326
Name: DASP14, dtype: object
Unique values :  ['Y' 'N' 'U' nan]

Colunm Name :  DASPLT
Describe:  count     19288
unique        3
top           Y
freq      11566
Name: DASPLT, dtype: object
Unique values :  ['Y' 'N' nan 'U']

Colunm Name :  DLH14
Describe:  count     19413
unique        3
top           N
freq      14860
Name: DLH14, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  DMH14
Describe:  count     18429
unique        3
top           N
freq      14318
Name: DMH14, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DHH14
Describe:  count     984
unique      2
top         N
freq      794
Name: DHH14, dtype: object
Unique values :  ['N' 'Y' nan]

Colunm Name :  DSCH
Describe:  count     19130
unique        3
top           N
freq      18643
Name: DSCH, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DIVH
Describe:  count     19130
unique        3
top           N
freq      18740
Name: DIVH, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DAP
Describe:  count     19417
unique        3
top           N
freq      18629
Name: DAP, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DOAC
Describe:  count     19417
unique        3
top           N
freq      18758
Name: DOAC, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DGORM
Describe:  count     19412
unique        3
top           N
freq      17358
Name: DGORM, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DSTER
Describe:  count     19407
unique        3
top           N
freq      18672
Name: DSTER, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DCAA
Describe:  count     19406
unique        3
top           N
freq      17193
Name: DCAA, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DHAEMD
Describe:  count     19407
unique        3
top           N
freq      18828
Name: DHAEMD, dtype: object
Unique values :  ['N' nan 'Y' 'U']

Colunm Name :  DCAREND
Describe:  count     18430
unique        3
top           N
freq      18352
Name: DCAREND, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DTHROMB
Describe:  count     19120
unique        3
top           N
freq      19090
Name: DTHROMB, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DMAJNCH
Describe:  count     19421
unique        3
top           N
freq      19259
Name: DMAJNCH, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  DMAJNCHX
Describe:  count            145
unique           117
top       HAEMATURIA
freq               7
Name: DMAJNCHX, dtype: object

Colunm Name :  DSIDE
Describe:  count     19421
unique        3
top           N
freq      18768
Name: DSIDE, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  DSIDEX
Describe:  count            638
unique           515
top       HAEMATURIA
freq              17
Name: DSIDEX, dtype: object

Colunm Name :  DDIAGISC
Describe:  count     19412
unique        4
top           Y
freq      17398
Name: DDIAGISC, dtype: object
Unique values :  ['Y' 'N' 'U' nan]

Colunm Name :  DDIAGHA
Describe:  count     19409
unique        3
top           N
freq      18804
Name: DDIAGHA, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DDIAGUN
Describe:  count     19412
unique        3
top           N
freq      18414
Name: DDIAGUN, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DNOSTRK
Describe:  count     19409
unique        3
top           N
freq      18983
Name: DNOSTRK, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DNOSTRKX
Describe:  count     427
unique    252
top       TIA
freq      100
Name: DNOSTRKX, dtype: object

Colunm Name :  DRSISC
Describe:  count     19417
unique        3
top           N
freq      18995
Name: DRSISC, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DRSH
Describe:  count     19420
unique        3
top           N
freq      19314
Name: DRSH, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  DRSUNK
Describe:  count     18428
unique        3
top           N
freq      18159
Name: DRSUNK, dtype: object
Unique values :  [nan 'N' 'Y' 'U']

Colunm Name :  DPE
Describe:  count     19421
unique        3
top           N
freq      19287
Name: DPE, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  DALIVE
Describe:  count     19407
unique        3
top           Y
freq      10322
Name: DALIVE, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DPLACE
Describe:  count     9726
unique       6
top          A
freq      7062
Name: DPLACE, dtype: object
Unique values :  [nan 'A' 'U' 'D' 'E' 'B' 'C']

Colunm Name :  DDEAD
Describe:  count     19416
unique        3
top           N
freq      17376
Name: DDEAD, dtype: object
Unique values :  ['N' 'Y' nan 'U']

Colunm Name :  DDEADX
Describe:  count         168
unique        138
top       UNKNOWN
freq            7
Name: DDEADX, dtype: object

Colunm Name :  FDEAD
Describe:  count     19336
unique        3
top           N
freq      14910
Name: FDEAD, dtype: object
Unique values :  ['N' 'U' 'Y' nan]

Colunm Name :  FDEADX
Describe:  count         784
unique        382
top       UNKNOWN
freq          142
Name: FDEADX, dtype: object

Colunm Name :  FRECOVER
Describe:  count     15015
unique        3
top           N
freq      11088
Name: FRECOVER, dtype: object
Unique values :  ['N' 'Y' 'U' nan]

Colunm Name :  FDENNIS
Describe:  count     14936
unique        3
top           Y
freq       7727
Name: FDENNIS, dtype: object
Unique values :  ['Y' 'N' 'U' nan]

Colunm Name :  FPLACE
Describe:  count     14933
unique        6
top           A
freq      11607
Name: FPLACE, dtype: object
Unique values :  ['E' 'A' 'D' 'U' nan 'B' 'C']

Colunm Name :  FAP
Describe:  count     14867
unique        4
top           Y
freq      10516
Name: FAP, dtype: object
Unique values :  [nan 'U' 'N' 'Y']

Colunm Name :  FOAC
Describe:  count     14861
unique        3
top           N
freq      12323
Name: FOAC, dtype: object
Unique values :  [nan 'U' 'N' 'Y']

Colunm Name :  COUNTRY
Describe:  count     19435
unique       36
top          UK
freq       6257
Name: COUNTRY, dtype: object

Colunm Name :  NCCODE
Describe:  count     1519
unique      25
top          4
freq       296
Name: NCCODE, dtype: object

Colunm Name :  CMPLASP
Describe:  count     19422
unique        2
top           Y
freq      18495
Name: CMPLASP, dtype: object
Unique values :  ['Y' 'N' nan]

Colunm Name :  CMPLHEP
Describe:  count     19422
unique        2
top           Y
freq      18359
Name: CMPLHEP, dtype: object
Unique values :  ['Y' 'N' nan]

In [13]:
# Iterate over numeric columns
for column in num_col:
    columnSeriesObj = df[column]
    print()
    print('Colunm Name : ', column)
    print('Describe: ', columnSeriesObj.describe())

Colunm Name :  HOSPNUM
Describe:  count    19435.000000
mean       200.055467
std        160.335093
min          1.000000
25%         60.000000
50%        159.000000
75%        319.000000
max        568.000000
Name: HOSPNUM, dtype: float64

Colunm Name :  RDELAY
Describe:  count    19435.000000
mean        20.124363
std         12.470330
min          1.000000
25%          9.000000
50%         19.000000
75%         29.000000
max         48.000000
Name: RDELAY, dtype: float64

Colunm Name :  AGE
Describe:  count    19435.000000
mean        71.715410
std         11.619714
min         16.000000
25%         65.000000
50%         73.000000
75%         80.000000
max         99.000000
Name: AGE, dtype: float64

Colunm Name :  RSBP
Describe:  count    19435.000000
mean       160.159197
std         27.610382
min         70.000000
25%        140.000000
50%        160.000000
75%        180.000000
max        295.000000
Name: RSBP, dtype: float64

Colunm Name :  HOURLOCAL
Describe:  count    19435.000000
mean        15.581528
std         12.076144
min          0.000000
25%         11.000000
50%         14.000000
75%         17.000000
max         99.000000
Name: HOURLOCAL, dtype: float64

Colunm Name :  MINLOCAL
Describe:  count    19435.000000
mean        30.840340
std         19.356143
min          0.000000
25%         15.000000
50%         30.000000
75%         45.000000
max         99.000000
Name: MINLOCAL, dtype: float64

Colunm Name :  DAYLOCAL
Describe:  count    19435.000000
mean         4.084435
std          1.842469
min          1.000000
25%          3.000000
50%          4.000000
75%          6.000000
max          7.000000
Name: DAYLOCAL, dtype: float64

Colunm Name :  ONDRUG
Describe:  count    19434.000000
mean        10.885561
std          4.182254
min          0.000000
25%          8.000000
50%         14.000000
75%         14.000000
max         14.000000
Name: ONDRUG, dtype: float64

Colunm Name :  DMAJNCHD
Describe:  count    149.000000
mean       9.590604
std       22.408075
min        0.000000
25%        4.000000
50%        6.000000
75%       10.000000
max      267.000000
Name: DMAJNCHD, dtype: float64

Colunm Name :  DSIDED
Describe:  count    633.000000
mean       7.624013
std       21.232532
min        0.000000
25%        2.000000
50%        5.000000
75%        9.000000
max      368.000000
Name: DSIDED, dtype: float64

Colunm Name :  DRSISCD
Describe:  count    413.000000
mean       5.694915
std       13.768858
min        0.000000
25%        1.000000
50%        3.000000
75%        7.000000
max      252.000000
Name: DRSISCD, dtype: float64

Colunm Name :  DRSHD
Describe:  count    97.000000
mean      6.536082
std       7.766195
min       0.000000
25%       2.000000
50%       5.000000
75%       9.000000
max      65.000000
Name: DRSHD, dtype: float64

Colunm Name :  DRSUNKD
Describe:  count    260.000000
mean       7.284615
std       10.499299
min        0.000000
25%        2.000000
50%        4.000000
75%        9.000000
max      101.000000
Name: DRSUNKD, dtype: float64

Colunm Name :  DPED
Describe:  count    125.000000
mean      10.640000
std        9.659026
min        0.000000
25%        5.000000
50%        9.000000
75%       14.000000
max       69.000000
Name: DPED, dtype: float64

Colunm Name :  DALIVED
Describe:  count    10322.000000
mean        13.140961
std         15.249569
min          0.000000
25%          6.000000
50%         11.000000
75%         15.000000
max        392.000000
Name: DALIVED, dtype: float64

Colunm Name :  DDEADD
Describe:  count    2034.000000
mean        9.831367
std        17.051514
min         0.000000
25%         3.000000
50%         6.000000
75%        12.000000
max       579.000000
Name: DDEADD, dtype: float64

Colunm Name :  DDEADC
Describe:  count    2334.000000
mean        2.404456
std         2.172007
min         0.000000
25%         1.000000
50%         1.000000
75%         4.000000
max         8.000000
Name: DDEADC, dtype: float64

Colunm Name :  FLASTD
Describe:  count     58.000000
mean      81.172414
std       98.238367
min        0.000000
25%       10.000000
50%       50.000000
75%      128.000000
max      606.000000
Name: FLASTD, dtype: float64

Colunm Name :  FDEADD
Describe:  count    4346.000000
mean       46.676484
std        57.498329
min         0.000000
25%         7.000000
50%        22.000000
75%        66.000000
max       579.000000
Name: FDEADD, dtype: float64

Colunm Name :  FDEADC
Describe:  count    4364.000000
mean        3.441797
std         2.382524
min         0.000000
25%         1.000000
50%         4.000000
75%         5.000000
max         8.000000
Name: FDEADC, dtype: float64

Colunm Name :  FU1_RECD
Describe:  count    19422.000000
mean        47.822057
std         52.095201
min          0.000000
25%         22.000000
50%         31.000000
75%         54.000000
max       1036.000000
Name: FU1_RECD, dtype: float64

Colunm Name :  FU2_DONE
Describe:  count    19336.000000
mean       185.032168
std         73.052666
min          0.000000
25%        176.000000
50%        189.000000
75%        209.000000
max       1573.000000
Name: FU2_DONE, dtype: float64

Colunm Name :  CNTRYNUM
Describe:  count    19435.000000
mean        20.965629
std          8.439510
min          1.000000
25%         14.000000
50%         25.000000
75%         27.000000
max         44.000000
Name: CNTRYNUM, dtype: float64

Colunm Name :  FU1_COMP
Describe:  count    18965.000000
mean        31.366201
std         46.669627
min          0.000000
25%         13.000000
50%         16.000000
75%         30.000000
max        957.000000
Name: FU1_COMP, dtype: float64

Colunm Name :  DIED
Describe:  count    19435.000000
mean         0.224852
std          0.417496
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DIED, dtype: float64

Colunm Name :  TD
Describe:  count    19433.000000
mean       167.646581
std         83.199984
min          0.000000
25%        163.000000
50%        186.000000
75%        205.000000
max       1322.000000
Name: TD, dtype: float64

Colunm Name :  EXPDD
Describe:  count    19435.000000
mean         0.629215
std          0.230564
min          0.089100
25%          0.439100
50%          0.637800
75%          0.836750
max          0.995200
Name: EXPDD, dtype: float64

Colunm Name :  EXPD6
Describe:  count    19435.000000
mean         0.229676
std          0.194553
min          0.003500
25%          0.084600
50%          0.160100
75%          0.319200
max          0.901200
Name: EXPD6, dtype: float64

Colunm Name :  EXPD14
Describe:  count    19435.000000
mean         0.094167
std          0.104473
min          0.005000
25%          0.028500
50%          0.047100
75%          0.113100
max          0.576100
Name: EXPD14, dtype: float64

Colunm Name :  SET14D
Describe:  count    19435.000000
mean         0.999897
std          0.010144
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: SET14D, dtype: float64

Colunm Name :  ID14
Describe:  count    19435.000000
mean         0.091639
std          0.288523
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: ID14, dtype: float64

Colunm Name :  OCCODE
Describe:  count    19435.000000
mean         2.328891
std          1.068117
min          0.000000
25%          2.000000
50%          2.000000
75%          3.000000
max          9.000000
Name: OCCODE, dtype: float64

Colunm Name :  DEAD1
Describe:  count    19435.000000
mean         0.076203
std          0.265329
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD1, dtype: float64

Colunm Name :  DEAD2
Describe:  count    19435.000000
mean         0.027682
std          0.164064
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD2, dtype: float64

Colunm Name :  DEAD3
Describe:  count    19435.000000
mean         0.003962
std          0.062821
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD3, dtype: float64

Colunm Name :  DEAD4
Describe:  count    19435.000000
mean         0.043015
std          0.202897
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD4, dtype: float64

Colunm Name :  DEAD5
Describe:  count    19435.000000
mean         0.019089
std          0.136842
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD5, dtype: float64

Colunm Name :  DEAD6
Describe:  count    19435.000000
mean         0.008799
std          0.093389
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD6, dtype: float64

Colunm Name :  DEAD7
Describe:  count    19435.000000
mean         0.027631
std          0.163916
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD7, dtype: float64

Colunm Name :  DEAD8
Describe:  count    19435.000000
mean         0.011834
std          0.108143
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DEAD8, dtype: float64

Colunm Name :  H14
Describe:  count    19435.000000
mean         0.008284
std          0.090641
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: H14, dtype: float64

Colunm Name :  ISC14
Describe:  count    19435.000000
mean         0.020324
std          0.141110
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: ISC14, dtype: float64

Colunm Name :  NK14
Describe:  count    19435.000000
mean         0.013378
std          0.114890
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: NK14, dtype: float64

Colunm Name :  STRK14
Describe:  count    19435.000000
mean         0.041523
std          0.199502
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: STRK14, dtype: float64

Colunm Name :  HTI14
Describe:  count    19435.000000
mean         0.003036
std          0.055015
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: HTI14, dtype: float64

Colunm Name :  PE14
Describe:  count    19435.000000
mean         0.006895
std          0.082750
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: PE14, dtype: float64

Colunm Name :  DVT14
Describe:  count    19435.000000
mean         0.001132
std          0.033627
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: DVT14, dtype: float64

Colunm Name :  TRAN14
Describe:  count    19435.000000
mean         0.008541
std          0.092026
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: TRAN14, dtype: float64

Colunm Name :  NCB14
Describe:  count    19435.000000
mean         0.027322
std          0.163024
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: NCB14, dtype: float64

In [14]:
df.RDATE.unique() # probably polish (https://en.wikipedia.org/wiki/Slavic_calendar)

array(['sty-91', 'lut-91', 'mar-91', 'kwi-91', 'maj-91', 'cze-91',
       'lip-91', 'sie-91', 'wrz-91', 'pa�-91', 'lis-91', 'gru-91',
       'sty-92', 'lut-92', 'mar-92', 'kwi-92', 'maj-92', 'cze-92',
       'lip-92', 'sie-92', 'wrz-92', 'pa�-92', 'lis-92', 'gru-92',
       'sty-93', 'lut-93', 'mar-93', 'lip-93', 'sty-94', 'wrz-93',
       'sie-93', 'gru-93', 'lis-93', 'kwi-93', 'mar-94', 'wrz-94',
       'lip-94', 'sie-94', 'maj-93', 'pa�-93', 'kwi-94', 'lut-94',
       'maj-94', 'cze-93', 'cze-94', 'gru-94', 'sty-95', 'pa�-94',
       'lis-94', 'lut-95', 'lip-95', 'maj-96', 'maj-95', 'mar-95',
       'wrz-95', 'pa�-95', 'kwi-95', 'lut-96', 'sty-96', 'cze-95',
       'sie-95', 'lis-95', 'gru-95', 'mar-96', 'kwi-96'], dtype=object)

In [15]:
#extract year from RDATE
df['RYEAR'] = df.RDATE.str.extract(r'(\d{2})', expand=False)

In [16]:
df.RYEAR.unique()

array(['91', '92', '93', '94', '95', '96'], dtype=object)

Month (EN) | Month (PL) | Month (in df)
:----- | ----: | -----:
January  | styczeń | sty
February  | luty  | lut
March | (brzezień) | Mar
April | kwiecień | kwi
May | (trawień) | maj
June | czerwiec | cze
July | lipiec | lip
August | sierpień | sie
September | wrzesień | wrz
Ocotber | październik | pa�
November | listopad | lis
December | grudzień | gru

In [17]:
#df.RDATE.to_string()
#type(df.RDATE)

In [18]:
# equivalents/translations for months
month_dict = {'sty': '01', 'lut': '02', 'mar': '03', 'kwi': '04', 'maj': '05', 'cze': '06',
                'lip': '07', 'sie': '08', 'wrz': '09', 'pa�': '10', 'lis': '11', 'gru': '12'}

In [19]:
# replace string in RDATE with number (according to month)
df.RDATE = df.RDATE.replace(month_dict, regex=True)

In [20]:
df.RDATE.unique()

array(['01-91', '02-91', '03-91', '04-91', '05-91', '06-91', '07-91',
       '08-91', '09-91', '10-91', '11-91', '12-91', '01-92', '02-92',
       '03-92', '04-92', '05-92', '06-92', '07-92', '08-92', '09-92',
       '10-92', '11-92', '12-92', '01-93', '02-93', '03-93', '07-93',
       '01-94', '09-93', '08-93', '12-93', '11-93', '04-93', '03-94',
       '09-94', '07-94', '08-94', '05-93', '10-93', '04-94', '02-94',
       '05-94', '06-93', '06-94', '12-94', '01-95', '10-94', '11-94',
       '02-95', '07-95', '05-96', '05-95', '03-95', '09-95', '10-95',
       '04-95', '02-96', '01-96', '06-95', '08-95', '11-95', '12-95',
       '03-96', '04-96'], dtype=object)

In [21]:
print(df.COUNTRY.value_counts())
df.CNTRYNUM.value_counts()

UK      6257
ITAL    3437
SWIT    1631
POLA     759
NETH     728
SWED     636
AUSL     597
ARGE     545
NORW     526
SPAI     478
CZEC     466
NEW      453
PORT     415
BELG     305
TURK     286
AUST     230
INDI     229
GREE     152
SING     140
USA      131
CANA     117
HONG     115
ISRA     114
HUNG     105
SLOK      86
FINL      85
BRAS      83
SOUT      69
CHIL      65
EIRE      58
SLOV      53
DENM      35
SRI       20
ROMA      18
JAPA       9
FRAN       2
Name: COUNTRY, dtype: int64

27    6257
14    3437
25    1631
18     759
15     728
24     636
1      597
29     545
17     526
22     478
7      466
16     453
19     415
3      305
35     286
2      230
37     229
31     152
34     140
28     131
5      117
30     115
13     114
36     105
44      86
10      85
42      83
21      69
6       65
9       58
20      53
8       35
23      20
33      18
38       9
11       2
Name: CNTRYNUM, dtype: int64

In [22]:
df['COUNTRY_ISO'] = df['COUNTRY'].replace({'UK': 'GB', 'ITAL': 'IT', 'SWIT': 'CH', 'POLA': 'PL', 'NETH': 'NL', 
    'SWED': 'SE', 'AUSL': 'AU', 'NORW': 'NO', 'ARGE': 'AR', 'SPAI': 'ES', 'CZEC': 'CZ', 'NEW': 'NZ', 'PORT': 'PT',
    'BELG': 'BE', 'TURK': 'TR', 'AUST': 'AT', 'INDI': 'IN', 'GREE': 'GR', 'SING': 'SG', 'USA': 'USA', 'CANA': 'CA',
    'ISRA': 'IL', 'HUNG': 'HU', 'HONG': 'HK', 'SLOK': 'SK', 'FINL': 'FI', 'BRAS': 'BR', 'EIRE': 'IE', 'CHIL': 'CL',
    'SOUT': 'ZA', 'SLOV': 'SI', 'DENM': 'DK', 'ROMA': 'RO', 'SRI': 'LK', 'JAPA': 'JP', 'FRAN': 'FR'})

In [23]:
#df.COUNTRY_ISO.value_counts()

In [24]:
pd.qcut(x=df['AGE'], q=5, precision=0)

0        (63.0, 70.0]
1        (70.0, 76.0]
2        (70.0, 76.0]
3        (76.0, 82.0]
4        (76.0, 82.0]
             ...
19430    (63.0, 70.0]
19431    (70.0, 76.0]
19432    (76.0, 82.0]
19433    (82.0, 99.0]
19434    (15.0, 63.0]
Name: AGE, Length: 19435, dtype: category
Categories (5, interval[float64]): [(15.0, 63.0] < (63.0, 70.0] < (70.0, 76.0] < (76.0, 82.0] < (82.0, 99.0]]

In [25]:
# bin AGE into equally sized bins
labels = ['16 - 63', '64 - 70', '71 - 76', '77 - 82', '83 - 99']
df['AGE_bin'] = pd.qcut(x=df['AGE'], q=5, labels = labels, precision=0)

In [26]:
df.AGE_bin.value_counts()

71 - 76    4266
16 - 63    4232
77 - 82    3937
64 - 70    3570
83 - 99    3430
Name: AGE_bin, dtype: int64

In [27]:
group_hep24 = df.groupby(by = ['RHEP24', 'RASP3'])
group_hep24['RHEP24'].value_counts()

RHEP24  RASP3  RHEP24
N       N      N         14195
        Y      N          3827
Y       N      Y           316
        Y      Y           113
Name: RHEP24, dtype: int64

In [28]:
# replace H with M
df['RXHEP'].replace('H','M', inplace=True)

In [29]:
print(df.RXHEP.describe())
print(df.RXHEP.unique())

count     19435
unique        3
top           N
freq       9718
Name: RXHEP, dtype: object
['N' 'L' 'M']

In [30]:
# merge DHH14 into DMH14 
# (DHH14 = Medium dose heparin given for 14 days etc in pilot (combine with DMH14))
df['DMH14'] = np.where(df['DMH14'].isnull() == True, df['DHH14'], df['DMH14'])

In [31]:
# new variable: RXHEP14
# Heparin given for 14 days or till death/discharge (Y, N)
#df['RXHEP14'] = np.where(df["RXHEP"] == 'M', df['DMH14'], 'N')
#df['RXHEP14'] = np.where(df["RXHEP"] == 'L', df['DLH14'], 'N')

conditions = [
    df['RXHEP'].eq('M') & df['DMH14'].eq('Y'),
    df['RXHEP'].eq('L') & df['DLH14'].eq('Y')]

choices = ['Y','Y']

df['RXHEP14'] = np.select(conditions, choices, default='N')

In [32]:
# new variable: HEP14
# Dose Heparin given for 14 days or till death/discharge (Y, N)

conditions = [
    df['RXHEP'].eq('M') & df['DMH14'].eq('Y'),
    df['RXHEP'].eq('L') & df['DLH14'].eq('Y')]

choices = ['M','L']

df['HEP14'] = np.select(conditions, choices, default='N')

In [33]:
# Do the patients receive the treatment they were assigned to? 
# No => Go with DASP14 an HEP14, i.e. the treatment the patients actually received. 
print(df['RXHEP'].groupby(by = [df['HEP14']]).value_counts())
print(df['RXASP'].groupby(df['DASP14']).value_counts())

HEP14  RXHEP
L      L        4450
M      M        4242
N      N        9718
       M         614
       L         411
Name: RXHEP, dtype: int64
DASP14  RXASP
N       N        9552
        Y         775
U       N           9
        Y           5
Y       Y        8929
        N         143
Name: RXASP, dtype: int64

In [34]:
df = df[df['DASP14'] != 'U']

In [35]:
# new variable: TREAT14 (Meds given for 14 days or till death or discharge)
# Treatment: 'Aspirin','Aspirin + Medium Heparin','Aspirin + Low Heparin', 'Medium Heparin', 'Low Heparin'

conditions = [
    df['DASP14'].eq('Y') & df['HEP14'].eq('N'),     # Aspirin - no Heparin
    df['DASP14'].eq('Y') & df['HEP14'].eq('M'),     # Aspirin + Medium Heparin
    df['DASP14'].eq('Y') & df['HEP14'].eq('L'),     # Aspirin + Low Heparin
    df['HEP14'].eq('M'),                            # Medium Heparin
    df['HEP14'].eq('L')]                            # Low Heparin

choices = ['Aspirin','Aspirin + Medium Heparin','Aspirin + Low Heparin', 'Medium Heparin', 'Low Heparin']

df['TREAT14'] = np.select(conditions, choices, default='Control')

<ipython-input-35-9d27da6e70cb>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TREAT14'] = np.select(conditions, choices, default='Control')

In [36]:
df.TREAT14.value_counts()

Control                     5896
Aspirin                     4833
Low Heparin                 2263
Medium Heparin              2190
Aspirin + Low Heparin       2187
Aspirin + Medium Heparin    2052
Name: TREAT14, dtype: int64

In [37]:
# new variable: DMEDS
# additional medication beside ASP or HEP

conditions = [
    df['DSCH'].eq('Y'), df['DIVH'].eq('Y'), df['DAP'].eq('Y'), df['DOAC'].eq('Y'),
    df['DGORM'].eq('Y'), df['DSTER'].eq('Y'), df['DCAA'].eq('Y')]

choices = ['Subcut. Heparin','Intrav. Heparin','Antiplatelet drug','Other coanticoagulants',
    'Glycerol or mannitol','Steroids','Calcium antagonist']

df['DMEDS'] = np.select(conditions, choices, default='N')

<ipython-input-37-16efcd267539>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DMEDS'] = np.select(conditions, choices, default='N')

In [38]:
df.DMEDS.describe()

count     19421
unique        8
top           N
freq      13947
Name: DMEDS, dtype: object

In [39]:
# new variable: DIAG
# combine all types of first stroke

conditions = [
    df['DDIAGISC'].eq('Y'), df['DDIAGHA'].eq('Y'), df['DDIAGUN'].eq('Y'), df['DNOSTRK'].eq('Y')]

choices = ['Ischaemic stroke','Haemorrhagic stroke','Indeterminate stroke','Not a stroke']

df['DIAG'] = np.select(conditions, choices, default='Unknown')

<ipython-input-39-f404c2935962>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DIAG'] = np.select(conditions, choices, default='Unknown')

In [40]:
# new variable: DIAGSTR
# combine all types of first stroke - without DNOSTRK' + drop 'Unknown'

conditions = [
    df['DDIAGISC'].eq('Y'), df['DDIAGHA'].eq('Y'), df['DDIAGUN'].eq('Y')]

choices = ['Ischaemic stroke','Haemorrhagic stroke','Indeterminate stroke']

df['DIAGSTR'] = np.select(conditions, choices, default='Unknown')

<ipython-input-40-19349cbf916d>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DIAGSTR'] = np.select(conditions, choices, default='Unknown')

In [41]:
df.DIAGSTR.value_counts()

Ischaemic stroke        17393
Indeterminate stroke      991
Haemorrhagic stroke       598
Unknown                   439
Name: DIAGSTR, dtype: int64

In [42]:
df = df[df['DIAGSTR'] != 'Unknown']

In [43]:
# new variable: RDIAG14
# combine all types of recurrent stroke (within 14 days)

conditions = [
    df['DRSISC'].eq('Y'), df['DRSH'].eq('Y'), df['DRSUNK'].eq('Y'), df['DPE'].eq('Y')]

choices = ['Ischaemic stroke','Haemorrhagic stroke','Unknown type', 'Pulmonary embolism']

df['RDIAG14'] = np.select(conditions, choices, default='None')

In [44]:
df.RDIAG14.value_counts()

None                   18100
Ischaemic stroke         412
Unknown type             256
Pulmonary embolism       120
Haemorrhagic stroke       94
Name: RDIAG14, dtype: int64

In [45]:
# new variable: RDISCH14
# Discharged after 14 days - alive or dead?

conditions = [
    df['DALIVE'].eq('Y'), df['DDEAD'].eq('Y'), df['DALIVE'].eq('N')]

choices = ['Discharged alive from hospital', 'Dead on discharge form', 'Not discharged']

df['RDISCH14'] = np.select(conditions, choices, default= 'Unknown')

In [46]:
df.RDISCH14.value_counts()

Discharged alive from hospital    10034
Not discharged                     6943
Dead on discharge form             2000
Unknown                               5
Name: RDISCH14, dtype: int64

In [47]:
df = df[df['RDISCH14'] != 'Unknown']

In [48]:
# neither dead nor alive?! - not discharged?
# DALIVE - Discharged alive from hospital
# DDEAD - Dead on discharge form
print(df['DDEAD'].groupby(df['DALIVE']).value_counts())

DALIVE  DDEAD
N       N         6937
        Y         1991
Y       N        10034
Name: DDEAD, dtype: int64

In [49]:
# DPLACE - Discharge destination
# only patients that were alive were discharged to certain destinations
print(df['DALIVE'].groupby(df['DPLACE']).value_counts())
print(df['DDEAD'].groupby(df['DPLACE']).value_counts())

DPLACE  DALIVE
A       Y         6847
B       Y          274
C       Y          253
D       Y          527
E       Y         1529
U       Y           20
Name: DALIVE, dtype: int64
DPLACE  DDEAD
A       N        6847
B       N         274
C       N         253
D       N         527
E       N        1529
U       N          20
Name: DDEAD, dtype: int64

In [50]:
# discharged patients were alive and may have died within 6 months
group_da = df.groupby(by=['DPLACE', 'DDEAD','DALIVE'])
group_da['FDEAD'].value_counts()

DPLACE  DDEAD  DALIVE  FDEAD
A       N      Y       N        6374
                       Y         393
                       U          21
B       N      Y       N         234
                       Y          32
                       U           4
C       N      Y       N         220
                       Y          31
D       N      Y       N         382
                       Y         141
                       U           1
E       N      Y       N        1274
                       Y         243
                       U           6
U       N      Y       N          20
Name: FDEAD, dtype: int64

In [51]:
# DDEADC - Cause of death
# 0 in DDEADC have not died?
print(df['DDEAD'].groupby(df['DDEADC']).value_counts())
print(df['DALIVE'].groupby(df['DDEADC']).value_counts())

DDEADC  DDEAD
0.0     N        299
1.0     Y        972
2.0     Y        221
3.0     Y         45
4.0     Y        368
5.0     Y        158
6.0     Y         88
7.0     Y        106
8.0     Y         41
Name: DDEAD, dtype: int64
DDEADC  DALIVE
0.0     Y         157
        N         142
1.0     N         967
2.0     N         221
3.0     N          45
4.0     N         367
5.0     N         158
6.0     N          85
7.0     N         106
8.0     N          41
Name: DALIVE, dtype: int64

In [52]:
# when DALIVE = N equals "not discharged" then patients should appear in OCCODE (outcome @ 6 months; 1 - dead @ 6 months)
group_da = df.groupby(by=['OCCODE', 'DDEAD','DALIVE'])
group_da['FDEAD'].value_counts()

OCCODE  DDEAD  DALIVE  FDEAD
1       N      N       Y        1303
               Y       Y         833
        Y      N       Y        1990
2       N      N       N        3840
                       Y          55
                       U           2
               Y       N        3784
                       Y          71
                       U           1
        Y      N       N           1
3       N      N       N        1092
               Y       N        2660
4       N      N       N         614
               Y       N        2574
                       U           1
9       N      N       U          18
               Y       U          31
Name: FDEAD, dtype: int64

In [53]:
# OCCODE has more info on dependency/recovery after 6 months than FDENNIS (no unknown)
group_depen = df.groupby(by=['OCCODE', 'FDENNIS'])
print(group_depen['SEX'].value_counts())

OCCODE  FDENNIS  SEX
1       N        F         1
2       U        F        16
                 M         8
        Y        F      3915
                 M      3690
3       N        M      2366
                 F      1387
4       N        M      1981
                 F      1202
        U        F         4
                 M         2
9       U        M         9
                 F         6
Name: SEX, dtype: int64

In [54]:

# new variable: DEAD
# Cause of death (regardless of time - within 14 days or 6 months)

conditions = [
    df['DEAD1'].eq(1), df['DEAD2'].eq(1), df['DEAD3'].eq(1), df['DEAD4'].eq(1), 
    df['DEAD5'].eq(1), df['DEAD6'].eq(1), df['DEAD7'].eq(1), df['DEAD8'].eq(1)]

choices = ['Initial stroke','Recurrent stroke (ischemiac/unknown)', 'Recurrent stroke (haemorraghic)', 'Pneumonia', 'Coronary heart disease', 'Pulmonary embolism', 'Other vascular or unknown', 'Non vascular']

df['DEAD'] = np.select(conditions, choices, default='Alive')

In [55]:
df.DEAD.value_counts()

Alive                                   14835
Initial stroke                           1472
Pneumonia                                 819
Recurrent stroke (ischemiac/unknown)      534
Other vascular or unknown                 522
Coronary heart disease                    370
Non vascular                              179
Pulmonary embolism                        169
Recurrent stroke (haemorraghic)            77
Name: DEAD, dtype: int64

In [56]:
df['DDEADC'].replace({1: 'Initial Stroke', 2: 'Recurrent stroke (ischaemic or unknown)', 3: 'Recurrent stroke (haemorrhagic)', 
4: 'Pneumonia', 5: 'Coronary heart disease', 6: 'Pulmonary embolism', 7: 'Other vascular or unknown', 8: 'Non-vascular', 0: 'Unknown'}, inplace=True)

In [57]:
df['FDEADC'].replace({1: 'Initial Stroke', 2: 'Recurrent stroke (ischaemic or unknown)', 3: 'Recurrent stroke (haemorrhagic)', 
4: 'Pneumonia', 5: 'Coronary heart disease', 6: 'Pulmonary embolism', 7: 'Other vascular or unknown', 8: 'Non-vascular', 0: 'Unknown'}, inplace=True)

In [58]:
# check if correct - 4 patients not correctly assigned - but FDEADC is in line with all deaths (either within 14 days or 6 months - use this variable)
group_dc = df.groupby(by = ['DDEADC','FDEADC'])
group_dc['DEAD'].value_counts()

DDEADC                                   FDEADC                                   DEAD
Coronary heart disease                   Coronary heart disease                   Coronary heart disease                  158
Initial Stroke                           Initial Stroke                           Initial stroke                          972
Non-vascular                             Non-vascular                             Non vascular                             38
                                                                                  Other vascular or unknown                 3
Other vascular or unknown                Other vascular or unknown                Other vascular or unknown               106
Pneumonia                                Pneumonia                                Pneumonia                               368
Pulmonary embolism                       Pulmonary embolism                       Pulmonary embolism                       87
Recurrent stroke (haemorrhagic)          Recurrent stroke (haemorrhagic)          Recurrent stroke (haemorraghic)          45
Recurrent stroke (ischaemic or unknown)  Recurrent stroke (ischaemic or unknown)  Recurrent stroke (ischemiac/unknown)    221
Unknown                                  Coronary heart disease                   Coronary heart disease                    3
                                         Initial Stroke                           Initial stroke                            3
                                         Non-vascular                             Non vascular                              1
                                         Other vascular or unknown                Other vascular or unknown                 3
                                         Pneumonia                                Pneumonia                                 7
                                         Pulmonary embolism                       Pulmonary embolism                        4
                                         Recurrent stroke (ischaemic or unknown)  Recurrent stroke (ischemiac/unknown)      6
                                         Unknown                                  Other vascular or unknown                 2
Name: DEAD, dtype: int64

In [59]:
df['DPLACE'].replace({'A': 'Home', 'B': 'Relatives home', 'C': 'Residential care', 'D': 'Nursing home', 'E': 'Other hospital departments', 'U': 'Unknown'}, inplace=True)

In [60]:
df['FPLACE'].replace({'A': 'Home', 'B': 'Relatives home', 'C': 'Residential care', 'D': 'Nursing home', 'E': 'Other hospital departments', 'U': 'Unknown'}, inplace=True)

In [61]:
df['FDEADC'].replace({1: 'Initial Stroke', 2: 'Recurrent stroke (ischaemic or unknown)', 3: 'Recurrent stroke (haemorrhagic)', 
4: 'Pneumonia', 5: 'Coronary heart disease', 6: 'Pulmonary embolism', 7: 'Other vascular or unknown', 8: 'Non-vascular', 0: 'Unknown'}, inplace=True)

In [62]:
# drop '0' and '9' - not many values and the values equla to "missing or unknown"
df.OCCODE.value_counts()

2    7755
1    4141
3    3753
4    3189
0      90
9      49
Name: OCCODE, dtype: int64

In [63]:
df = df[df['OCCODE'] != '0']
df = df[df['OCCODE'] != '9']

In [64]:
df = df[df['OCCODE'] != 9]

In [65]:
df.OCCODE.value_counts()

2    7755
1    4141
3    3753
4    3189
0      90
Name: OCCODE, dtype: int64

In [66]:
df['OCCODE'].replace({1: 'Dead', 2: 'Dependent', 3: 'Not recovered', 4: 'Recovered'}, inplace=True)

In [67]:
for column in df.columns:
    columnSeriesObj = df[column]
    if columnSeriesObj.isnull().sum() != 0:
        print('Column Name: ', column)
        print('Missing values : ', columnSeriesObj.isnull().sum() )

Column Name:  RATRIAL
Missing values :  972
Column Name:  RHEP24
Missing values :  340
Column Name:  RASP3
Missing values :  972
Column Name:  DASP14
Missing values :  8
Column Name:  DASPLT
Missing values :  131
Column Name:  DLH14
Missing values :  8
Column Name:  DMH14
Missing values :  8
Column Name:  DHH14
Missing values :  17956
Column Name:  ONDRUG
Missing values :  1
Column Name:  DSCH
Missing values :  287
Column Name:  DIVH
Missing values :  287
Column Name:  DAP
Missing values :  4
Column Name:  DOAC
Missing values :  4
Column Name:  DGORM
Missing values :  9
Column Name:  DSTER
Missing values :  14
Column Name:  DCAA
Missing values :  15
Column Name:  DHAEMD
Missing values :  14
Column Name:  DCAREND
Missing values :  979
Column Name:  DTHROMB
Missing values :  297
Column Name:  DMAJNCHD
Missing values :  18780
Column Name:  DMAJNCHX
Missing values :  18784
Column Name:  DSIDED
Missing values :  18302
Column Name:  DSIDEX
Missing values :  18297
Column Name:  DDIAGISC
Missing values :  6
Column Name:  DDIAGHA
Missing values :  8
Column Name:  DDIAGUN
Missing values :  7
Column Name:  DNOSTRK
Missing values :  9
Column Name:  DNOSTRKX
Missing values :  18918
Column Name:  DRSISC
Missing values :  4
Column Name:  DRSISCD
Missing values :  18517
Column Name:  DRSH
Missing values :  1
Column Name:  DRSHD
Missing values :  18832
Column Name:  DRSUNK
Missing values :  979
Column Name:  DRSUNKD
Missing values :  18670
Column Name:  DPED
Missing values :  18804
Column Name:  DALIVE
Missing values :  9
Column Name:  DALIVED
Missing values :  8925
Column Name:  DPLACE
Missing values :  9508
Column Name:  DDEAD
Missing values :  6
Column Name:  DDEADD
Missing values :  16928
Column Name:  DDEADC
Missing values :  16631
Column Name:  DDEADX
Missing values :  18781
Column Name:  FDEAD
Missing values :  92
Column Name:  FLASTD
Missing values :  18923
Column Name:  FDEADD
Missing values :  14684
Column Name:  FDEADC
Missing values :  14665
Column Name:  FDEADX
Missing values :  18209
Column Name:  FRECOVER
Missing values :  4353
Column Name:  FDENNIS
Missing values :  4356
Column Name:  FPLACE
Missing values :  4359
Column Name:  FAP
Missing values :  4426
Column Name:  FOAC
Missing values :  4432
Column Name:  FU2_DONE
Missing values :  92
Column Name:  FU1_COMP
Missing values :  453
Column Name:  NCCODE
Missing values :  17526

+ Drop NAs:
    + RATRIAL not noted during trial phase (984 patients) - kick out for model if needed
    + RHEP24 and RASP3 (info on meds prior to first stroke) - kick out if needed/no additional info
    + DMH14 and DLH14
    + DRSISC
    
+ Drop entirely:
    + DHH14 - (was merged with DMH14)
    + FDENNIS - is included in OCCODE ('dependent' after 6 months)
    + 'DMAJNCHX', 'DSIDED', 'DSIDEX', 'DNOSTRKX', 'DDEADX', 'FLASTD', 'FDEADX', 'NCCODE' - (no additional info and many missing values)

In [68]:
# drop the following columns entirely
df = df.drop(['DHH14', 'FDENNIS', 'DMAJNCHX', 'DSIDED', 'DSIDEX', 'DNOSTRKX', 'DDEADX', 'FLASTD', 'FDEADX', 'NCCODE'], axis=1)

In [69]:
for column in df.columns:
    columnSeriesObj = df[column]
    if columnSeriesObj.isnull().sum() != 0:
        print('Column Name: ', column)
        print('Missing values : ', columnSeriesObj.isnull().sum() )

Column Name:  RATRIAL
Missing values :  972
Column Name:  RHEP24
Missing values :  340
Column Name:  RASP3
Missing values :  972
Column Name:  DASP14
Missing values :  8
Column Name:  DASPLT
Missing values :  131
Column Name:  DLH14
Missing values :  8
Column Name:  DMH14
Missing values :  8
Column Name:  ONDRUG
Missing values :  1
Column Name:  DSCH
Missing values :  287
Column Name:  DIVH
Missing values :  287
Column Name:  DAP
Missing values :  4
Column Name:  DOAC
Missing values :  4
Column Name:  DGORM
Missing values :  9
Column Name:  DSTER
Missing values :  14
Column Name:  DCAA
Missing values :  15
Column Name:  DHAEMD
Missing values :  14
Column Name:  DCAREND
Missing values :  979
Column Name:  DTHROMB
Missing values :  297
Column Name:  DMAJNCHD
Missing values :  18780
Column Name:  DDIAGISC
Missing values :  6
Column Name:  DDIAGHA
Missing values :  8
Column Name:  DDIAGUN
Missing values :  7
Column Name:  DNOSTRK
Missing values :  9
Column Name:  DRSISC
Missing values :  4
Column Name:  DRSISCD
Missing values :  18517
Column Name:  DRSH
Missing values :  1
Column Name:  DRSHD
Missing values :  18832
Column Name:  DRSUNK
Missing values :  979
Column Name:  DRSUNKD
Missing values :  18670
Column Name:  DPED
Missing values :  18804
Column Name:  DALIVE
Missing values :  9
Column Name:  DALIVED
Missing values :  8925
Column Name:  DPLACE
Missing values :  9508
Column Name:  DDEAD
Missing values :  6
Column Name:  DDEADD
Missing values :  16928
Column Name:  DDEADC
Missing values :  16631
Column Name:  FDEAD
Missing values :  92
Column Name:  FDEADD
Missing values :  14684
Column Name:  FDEADC
Missing values :  14665
Column Name:  FRECOVER
Missing values :  4353
Column Name:  FPLACE
Missing values :  4359
Column Name:  FAP
Missing values :  4426
Column Name:  FOAC
Missing values :  4432
Column Name:  FU2_DONE
Missing values :  92
Column Name:  FU1_COMP
Missing values :  453

In [70]:

df = df.dropna(subset=['DLH14', 'DMH14', 'ONDRUG', 'DDIAGISC', 'DDIAGHA', 'DDIAGUN', 'DNOSTRK', 'DRSISC', 'DRSH', 'DALIVE', 'DDEAD', 'FDEAD'])
#df_dropped.info()

In [71]:
#save clean file
df.to_csv('data/IST_corrected_clean.csv')

In [72]:
import missingno as msno

ModuleNotFoundError: No module named 'missingno'

In [ ]:
msno.bar(df_bs);

In [ ]:
msno.matrix(df_bs);

In [ ]:
# sorted by weight
sorted = df_bs.sort_values('weight')
msno.matrix(sorted);