In [16]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv('data/Train1.csv', error_bad_lines=False, index_col=False, dtype= 'unicode')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9762 entries, 0 to 9761
Columns: 113 entries, ID to NCB14
dtypes: object(113)
memory usage: 8.4+ MB

In [31]:
df.head()

,ID,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RATRIAL,RCT,RVISINF,...,DEAD8,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14
0,1,1,17,D,M,69,Y,NaN,Y,Y,...,0,0,0,0,0,0,0,0,0,0
1,2,1,10,F,M,76,Y,NaN,Y,N,...,0,0,0,0,0,0,0,0,0,0
2,3,1,24,F,M,23,N,NaN,Y,N,...,0,0,0,0,0,0,0,0,0,0
3,4,1,5,D,F,83,N,NaN,N,N,...,0,0,0,0,0,0,0,0,0,0
4,6,1,8,D,F,64,Y,NaN,Y,Y,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df.columns.tolist()

['ID',
 'HOSPNUM',
 'RDELAY',
 'RCONSC',
 'SEX',
 'AGE',
 'RSLEEP',
 'RATRIAL',
 'RCT',
 'RVISINF',
 'RHEP24',
 'RASP3',
 'RSBP',
 'RDEF1',
 'RDEF2',
 'RDEF3',
 'RDEF4',
 'RDEF5',
 'RDEF6',
 'RDEF7',
 'RDEF8',
 'STYPE',
 'RDATE',
 'HOURLOCAL',
 'MINLOCAL',
 'DAYLOCAL',
 'RXASP',
 'RXHEP',
 'DASP14',
 'DASPLT',
 'DLH14',
 'DMH14',
 'DHH14',
 'ONDRUG',
 'DSCH',
 'DIVH',
 'DAP',
 'DOAC',
 'DGORM',
 'DSTER',
 'DCAA',
 'DHAEMD',
 'DCAREND',
 'DTHROMB',
 'DMAJNCH',
 'DMAJNCHD',
 'DMAJNCHX',
 'DSIDE',
 'DSIDED',
 'DSIDEX',
 'DDIAGISC',
 'DDIAGHA',
 'DDIAGUN',
 'DNOSTRK',
 'DNOSTRKX',
 'DRSISC',
 'DRSISCD',
 'DRSH',
 'DRSHD',
 'DRSUNK',
 'DRSUNKD',
 'DPE',
 'DPED',
 'DALIVE',
 'DALIVED',
 'DPLACE',
 'DDEAD',
 'DDEADD',
 'DDEADC',
 'DDEADX',
 'FDEAD',
 'FLASTD',
 'FDEADD',
 'FDEADC',
 'FDEADX',
 'FRECOVER',
 'FDENNIS',
 'FPLACE',
 'FAP',
 'FOAC',
 'FU1_RECD',
 'FU2_DONE',
 'COUNTRY',
 'CNTRYNUM',
 'FU1_COMP',
 'NCCODE',
 'CMPLASP',
 'CMPLHEP',
 'DIED',
 'TD',
 'EXPDD',
 'EXPD6',
 'EXPD14',
 'SET14D',
 'ID14',
 'OCCODE',
 'DEAD1',
 'DEAD2',
 'DEAD3',
 'DEAD4',
 'DEAD5',
 'DEAD6',
 'DEAD7',
 'DEAD8',
 'H14',
 'ISC14',
 'NK14',
 'STRK14',
 'HTI14',
 'PE14',
 'DVT14',
 'TRAN14',
 'NCB14']

In [84]:
df.isnull().sum().tolist()

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 484,
 0,
 0,
 175,
 484,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 12,
 81,
 14,
 498,
 9278,
 0,
 152,
 152,
 11,
 11,
 15,
 16,
 17,
 16,
 498,
 158,
 8,
 9686,
 9689,
 8,
 9442,
 9438,
 12,
 12,
 10,
 12,
 9560,
 11,
 9556,
 8,
 9709,
 497,
 9626,
 8,
 9695,
 17,
 4599,
 4901,
 9,
 8694,
 8545,
 9673,
 21,
 9762,
 7504,
 7496,
 9356,
 2251,
 2287,
 2288,
 2323,
 2325,
 7,
 20,
 0,
 0,
 242,
 9008,
 7,
 7,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [8]:
# check for duplicates
double = df[df.duplicated()]
double

Empty DataFrame
Columns: [ID, HOSPNUM, RDELAY, RCONSC, SEX, AGE, RSLEEP, RATRIAL, RCT, RVISINF, RHEP24, RASP3, RSBP, RDEF1, RDEF2, RDEF3, RDEF4, RDEF5, RDEF6, RDEF7, RDEF8, STYPE, RDATE, HOURLOCAL, MINLOCAL, DAYLOCAL, RXASP, RXHEP, DASP14, DASPLT, DLH14, DMH14, DHH14, ONDRUG, DSCH, DIVH, DAP, DOAC, DGORM, DSTER, DCAA, DHAEMD, DCAREND, DTHROMB, DMAJNCH, DMAJNCHD, DMAJNCHX, DSIDE, DSIDED, DSIDEX, DDIAGISC, DDIAGHA, DDIAGUN, DNOSTRK, DNOSTRKX, DRSISC, DRSISCD, DRSH, DRSHD, DRSUNK, DRSUNKD, DPE, DPED, DALIVE, DALIVED, DPLACE, DDEAD, DDEADD, DDEADC, DDEADX, FDEAD, FLASTD, FDEADD, FDEADC, FDEADX, FRECOVER, FDENNIS, FPLACE, FAP, FOAC, FU1_RECD, FU2_DONE, COUNTRY, CNTRYNUM, FU1_COMP, NCCODE, CMPLASP, CMPLHEP, DIED, TD, EXPDD, EXPD6, EXPD14, SET14D, ID14, OCCODE, DEAD1, DEAD2, DEAD3, DEAD4, ...]
Index: []

[0 rows x 113 columns]

In [20]:
df.RDATE.unique() # probably polish (https://en.wikipedia.org/wiki/Slavic_calendar)

array(['sty-91', 'lut-91', 'Mar-91', 'kwi-91', 'maj-91', 'cze-91',
       'lip-91', 'sie-91', 'wrz-91', 'pa�-91', 'lis-91', 'gru-91',
       'sty-92', 'lut-92', 'Mar-92', 'kwi-92', 'maj-92', 'cze-92',
       'lip-92', 'sie-92', 'wrz-92', 'pa�-92', 'lis-92', 'gru-92',
       'sty-93', 'lut-93', 'Mar-93', 'lip-93', 'wrz-93', 'gru-93',
       'lis-93', 'kwi-93', 'Mar-94', 'sie-94', 'maj-93', 'cze-93',
       'kwi-94', 'pa�-93', 'sty-94', 'cze-94', 'sie-93', 'sty-95',
       'lut-94', 'lip-94', 'pa�-94', 'lis-94', 'maj-94', 'wrz-94',
       'gru-94', 'lut-95', 'maj-96', 'maj-95', 'Mar-95', 'lip-95',
       'wrz-95', 'pa�-95', 'kwi-95', 'sty-96', 'cze-95', 'sie-95',
       'lis-95', 'lut-96', 'gru-95', 'Mar-96', 'kwi-96'], dtype=object)

In [68]:
df.RDATE

0       sty-91
1       sty-91
2       lut-91
3       Mar-91
4       Mar-91
         ...
9757    lip-93
9758    maj-93
9759    lip-94
9760    lut-94
9761    gru-93
Name: RDATE, Length: 9762, dtype: object

In [28]:
#extract year from RDATE
df['RYEAR'] = df.RDATE.str.extract(r'(\d{2})', expand=False)

In [29]:
df.RYEAR.unique()

array(['91', '92', '93', '94', '95', '96'], dtype=object)

Month (EN) | Month (PL) | Month (in df)
:----- | ----: | -----:
January  | styczeń | sty
February  | luty  | lut
March | (brzezień) | Mar
April | kwiecień | kwi
May | (trawień) | maj
June | czerwiec | cze
July | lipiec | lip
August | sierpień | sie
September | wrzesień | wrz
Ocotber | październik | pa�
November | listopad | lis
December | grudzień | gru

In [39]:
#df.RDATE.to_string()
#type(df.RDATE)

pandas.core.series.Series

In [30]:
# equivalents/translations for months
month_dict = {'sty': '01', 'lut': '02', 'Mar': '03', 'kwi': '04', 'maj': '05', 'cze': '06',
                'lip': '07', 'sie': '08', 'wrz': '09', 'pa�': '10', 'lis': '11', 'gru': '12'}

In [31]:
# replace string in RDATE with number (according to month)
df.RDATE = df.RDATE.replace(month_dict, regex=True)

In [32]:
df.RDATE.unique()

array(['01-91', '02-91', '03-91', '04-91', '05-91', '06-91', '07-91',
       '08-91', '09-91', '10-91', '11-91', '12-91', '01-92', '02-92',
       '03-92', '04-92', '05-92', '06-92', '07-92', '08-92', '09-92',
       '10-92', '11-92', '12-92', '01-93', '02-93', '03-93', '07-93',
       '09-93', '12-93', '11-93', '04-93', '03-94', '08-94', '05-93',
       '06-93', '04-94', '10-93', '01-94', '06-94', '08-93', '01-95',
       '02-94', '07-94', '10-94', '11-94', '05-94', '09-94', '12-94',
       '02-95', '05-96', '05-95', '03-95', '07-95', '09-95', '10-95',
       '04-95', '01-96', '06-95', '08-95', '11-95', '02-96', '12-95',
       '03-96', '04-96'], dtype=object)

In [112]:
print(df.HOURLOCAL.describe())

df.MINLOCAL.describe()

count     9762
unique      25
top         16
freq       848
Name: HOURLOCAL, dtype: object

count     9762
unique      61
top         34
freq       194
Name: MINLOCAL, dtype: object

In [39]:
df.DAYLOCAL.describe()

count     9762
unique       7
top          6
freq      1667
Name: DAYLOCAL, dtype: object

In [76]:
df.RYEAR.value_counts()

95    3276
94    2974
93    1714
96    1377
92     285
91     136
Name: RYEAR, dtype: int64

In [87]:
print(df.HOSPNUM.describe())

df.HOSPNUM.isnull().sum()

count     9762
unique     454
top        134
freq       247
Name: HOSPNUM, dtype: object

0

In [88]:
print(df.COUNTRY.describe())

df.COUNTRY.isnull().sum()

count     9762
unique      36
top         UK
freq      3197
Name: COUNTRY, dtype: object

0

In [89]:
# Delay between stroke and randomisation in hours
print(df.RDELAY.describe())

df.RDELAY.isnull().sum()

count     9762
unique      48
top         24
freq       796
Name: RDELAY, dtype: object

0

In [90]:
# Conscious state at randomisation (F - fully alert, D - drowsy, U - unconscious)
print(df.RCONSC.describe())

df.RCONSC.isnull().sum()

count     9762
unique       3
top          F
freq      7518
Name: RCONSC, dtype: object

0

In [91]:
print(df.SEX.describe())

df.SEX.isnull().sum()

count     9762
unique       2
top          M
freq      5261
Name: SEX, dtype: object

0

In [92]:
print(df.AGE.describe())

df.AGE.isnull().sum()

count     9762
unique      78
top         74
freq       430
Name: AGE, dtype: object

0

In [93]:
# Symptoms noted on waking (Y/N)
print(df.RSLEEP.describe())

df.RSLEEP.isnull().sum()

count     9762
unique       2
top          N
freq      6909
Name: RSLEEP, dtype: object

0

In [94]:
# Atrial fibrillation (Y/N); not coded for pilot phase - 484 patients (984)
# Atrial fibrillation (AF or A-fib) is an abnormal heart rhythm (arrhythmia) characterized by the rapid and irregular beating of the atrial chambers of the heart.

print(df.RATRIAL.describe())

df.RATRIAL.isnull().sum()

count     9278
unique       2
top          N
freq      7718
Name: RATRIAL, dtype: object

484

In [96]:
# CT before randomistion (Y/N)
print(df.RCT.describe())

df.RCT.isnull().sum()

count     9762
unique       2
top          Y
freq      6492
Name: RCT, dtype: object

0

In [97]:
# Infarct visible on CT (Y/N)
print(df.RVISINF.describe())

df.RVISINF.isnull().sum()

count     9762
unique       2
top          N
freq      6590
Name: RVISINF, dtype: object

0

In [98]:
# Heparin within 24 hours prior to randomisation (Y/N)
print(df.RHEP24.describe())

df.RHEP24.isnull().sum()

count     9587
unique       2
top          N
freq      9367
Name: RHEP24, dtype: object

175

In [99]:
# Aspirin within 3 days prior to randomisation (Y/N)
print(df.RASP3.describe())

df.RASP3.isnull().sum()

count     9278
unique       2
top          N
freq      7312
Name: RASP3, dtype: object

484

In [100]:
# Systolic blood pressure at randomisation (mmHg)
print(df.RSBP.describe())

df.RSBP.isnull().sum()

count     9762
unique     141
top        160
freq      1246
Name: RSBP, dtype: object

0

In [101]:
# Face deficit (Y/N/C=can't assess)
print(df.RDEF1.describe())

df.RDEF1.isnull().sum()

count     9762
unique       3
top          Y
freq      7060
Name: RDEF1, dtype: object

0

In [102]:
# Arm/hand deficit (Y/N/C=can't assess)
print(df.RDEF2.describe())

df.RDEF2.isnull().sum()

count     9762
unique       3
top          Y
freq      8314
Name: RDEF2, dtype: object

0

In [103]:
# Leg/foot deficit (Y/N/C=can't assess)
print(df.RDEF3.describe())

df.RDEF3.isnull().sum()

count     9762
unique       3
top          Y
freq      7304
Name: RDEF3, dtype: object

0

In [104]:
#Dysphasia (Y/N/C=can't assess)
# Dysphasia is a partial or complete impairment of the ability to communicate resulting from brain injury.
print(df.RDEF4.describe())

df.RDEF4.isnull().sum()

count     9762
unique       3
top          N
freq      5177
Name: RDEF4, dtype: object

0

In [105]:
# Hemianopia (Y/N/C=can't assess)
# defective vision or blindness in half of the visual field; usually applied to bilateral defects caused by a single lesion.
print(df.RDEF5.describe())

df.RDEF5.isnull().sum()

count     9762
unique       3
top          N
freq      6243
Name: RDEF5, dtype: object

0

In [106]:
# Visuospatial disorder (Y/N/C=can't assess)
# pertaining to visual perception of spatial relationships.
print(df.RDEF6.describe())

df.RDEF6.isnull().sum()

count     9762
unique       3
top          N
freq      6469
Name: RDEF6, dtype: object

0

In [107]:
# Brainstem/cerebellar signs (Y/N/C=can't assess)
# A cerebellar stroke is one of the less common types of strokes. It occurs when a blood vessel is blocked or bleeding, causing complete interruption to a portion of the cerebellum.
#  brainstem - The central stalk-like axis of the lower CNS, which connects the brain with the spinal cord.
#  cerebellum - The smaller sub-brain lying below and behind the CEREBRUM. 
# The cerebellum is the portion of the brain that controls movement and maintains balance
 
print(df.RDEF7.describe())

df.RDEF7.isnull().sum()

count     9762
unique       3
top          N
freq      7860
Name: RDEF7, dtype: object

0

In [108]:
# Other deficit (Y/N/C=can't assess)
print(df.RDEF8.describe())

df.RDEF8.isnull().sum()

count     9762
unique       3
top          N
freq      8481
Name: RDEF8, dtype: object

0

In [109]:
# Stroke subtype (TACS/PACS/POCS/LACS/other
# The deficits were classified as one of the Oxfordshire Community Stroke Project (OCSP) categories: total anterior circulation syndrome (TACS), partial anterior circulation syndrome (PACS), posterior circulation syndrome (POCS) and lacunar syndrome (LACS).
# https://en.wikipedia.org/wiki/Total_anterior_circulation_infarct
# https://en.wikipedia.org/wiki/Partial_anterior_circulation_infarct
# https://en.wikipedia.org/wiki/Posterior_circulation_infarct
# https://en.wikipedia.org/wiki/Lacunar_stroke

print(df.STYPE.describe())

df.STYPE.isnull().sum()

count     9762
unique       5
top       PACS
freq      3976
Name: STYPE, dtype: object

0

In [113]:
# Trial aspirin allocated (Y/N)

print(df.RXASP.describe())

df.RXASP.isnull().sum()

count     9762
unique       2
top          Y
freq      4918
Name: RXASP, dtype: object

0

In [114]:
# Trial heparin allocated (M/L/N) [M is coded as H=high in pilot]

print(df.RXHEP.describe())

df.RXHEP.isnull().sum()

count     9762
unique       4
top          N
freq      4899
Name: RXHEP, dtype: object

0

Data collected on 14 day/discharge form about treatments given in hospital

In [115]:
# Aspirin given for 14 days or till death or discharge (Y/N)

print(df.DASP14.describe())

df.DASP14.isnull().sum()

count     9750
unique       5
top          N
freq      5142
Name: DASP14, dtype: object

12

In [116]:
# Discharged on long term aspirin (Y/N)

print(df.DASPLT.describe())

df.DASPLT.isnull().sum()

count     9681
unique       3
top          Y
freq      5798
Name: DASPLT, dtype: object

81

In [117]:
# Low dose heparin given for 14 days or till death/discharge (Y/N)
print(df.DLH14.describe())

df.DLH14.isnull().sum()

count     9748
unique       3
top          N
freq      7461
Name: DLH14, dtype: object

14

In [118]:
# Medium dose heparin given for 14 days or till death/discharge (Y/N)
print(df.DMH14.describe())

df.DMH14.isnull().sum()

count     9264
unique       3
top          N
freq      7202
Name: DMH14, dtype: object

498

In [119]:
# Medium dose heparin given for 14 days etc in pilot (combine with above)
print(df.DHH14.describe())

df.DHH14.isnull().sum()

count     484
unique      2
top         N
freq      393
Name: DHH14, dtype: object

9278

In [120]:
# Estimate of time in days on trial treatment
print(df.ONDRUG.describe())

df.ONDRUG.isnull().sum()

count     9762
unique      15
top         14
freq      5102
Name: ONDRUG, dtype: object

0

In [121]:
#Non trial subcutaneous heparin (Y/N)

print(df.DSCH.describe())

df.DSCH.isnull().sum()

count     9610
unique       3
top          N
freq      9364
Name: DSCH, dtype: object

152

In [122]:
# Non trial intravenous heparin (Y/N)

print(df.DIVH.describe())

df.DIVH.isnull().sum()

count     9610
unique       3
top          N
freq      9417
Name: DIVH, dtype: object

152

In [123]:
# Non trial antiplatelet drug (Y/N)

print(df.DAP.describe())

df.DAP.isnull().sum()

count     9751
unique       3
top          N
freq      9361
Name: DAP, dtype: object

11

In [124]:
# Other anticoagulants (Y/N)

print(df.DOAC.describe())

df.DOAC.isnull().sum()

count     9751
unique       3
top          N
freq      9424
Name: DOAC, dtype: object

11

In [125]:
# Glycerol or manitol (Y/N)

print(df.DGORM.describe())

df.DGORM.isnull().sum()

count     9747
unique       3
top          N
freq      8686
Name: DGORM, dtype: object

15

In [126]:
# Steroids (Y/N)

print(df.DSTER.describe())

df.DSTER.isnull().sum()

count     9746
unique       3
top          N
freq      9378
Name: DSTER, dtype: object

16

In [127]:
# Calcium antagonists (Y/N)

print(df.DCAA.describe())

df.DCAA.isnull().sum()

count     9745
unique       3
top          N
freq      8655
Name: DCAA, dtype: object

17

In [128]:
# Haemodilution (Y/N)

print(df.DHAEMD.describe())

df.DHAEMD.isnull().sum()

count     9746
unique       3
top          N
freq      9449
Name: DHAEMD, dtype: object

16

In [130]:
# Carotid surgery (Y/N)
# Carotid artery stenosis is a narrowing or constriction of any part of the carotid arteries

print(df.DCAREND.describe())

df.DCAREND.isnull().sum()

count     9264
unique       3
top          N
freq      9226
Name: DCAREND, dtype: object

498

In [ ]:
# Thrombolysis (Y/N)
# Thrombolysis, also called fibrinolytic therapy, is the breakdown (lysis) of blood clots formed in blood vessels, using medication.

print(df.DTHROMB.describe())

df.DTHROMB.isnull().sum()

In [131]:
# Major non-cerebral haemorrhage (Y/N)
# DMAJNCHD - Date of above (yyyy/mm/dd)
# DMAJNCHX - Comment on above

print(df.DMAJNCH.describe())

df.DMAJNCH.isnull().sum()

count     9754
unique       3
top          N
freq      9674
Name: DMAJNCH, dtype: object

8

In [132]:
# Other side effect (Y/N)
#DSIDED - Date of above (yyyy/mm/dd)
# DSIDEX - Comment on above

print(df.DSIDE.describe())

df.DSIDE.isnull().sum()

count     9754
unique       3
top          N
freq      9426
Name: DSIDE, dtype: object

8

Final diagnosis of initial event

In [133]:
# Ischaemic stroke
# https://en.wikipedia.org/wiki/Cerebral_infarction

print(df.DDIAGISC.describe())

df.DDIAGISC.isnull().sum()

count     9750
unique       4
top          Y
freq      8748
Name: DDIAGISC, dtype: object

12

In [134]:
# Haemorrhagic stroke
# https://en.wikipedia.org/wiki/Intracerebral_hemorrhage

print(df.DDIAGHA.describe())

df.DDIAGHA.isnull().sum()

count     9750
unique       3
top          N
freq      9439
Name: DDIAGHA, dtype: object

12

In [135]:
# Indeterminate stroke

print(df.DDIAGUN.describe())

df.DDIAGUN.isnull().sum()

count     9752
unique       3
top          N
freq      9259
Name: DDIAGUN, dtype: object

10

In [136]:
# Not a stroke
# DNOSTRKX - Comment on above

print(df.DNOSTRK.describe())

df.DNOSTRK.isnull().sum()

count     9750
unique       3
top          N
freq      9549
Name: DNOSTRK, dtype: object

12

Recurrent stroke within 14 days

In [137]:
# Ischaemic recurrent stroke
# DRSISCD - Date of above (yyyy/mm/dd)

print(df.DRSISC.describe())

df.DRSISC.isnull().sum()

count     9751
unique       3
top          N
freq      9542
Name: DRSISC, dtype: object

11

In [138]:
# Unknown type
# DRSUNKD - Date of above (yyyy/mm/dd)

print(df.DRSUNK.describe())

df.DRSUNK.isnull().sum()

count     9754
unique       3
top          N
freq      9698
Name: DRSH, dtype: object

8

In [139]:
# Haemorrhagic stroke
# DRSHD - Date of above (yyyy/mm/dd)

print(df.DRSH.describe())

df.DRSH.isnull().sum()

count     9754
unique       3
top          N
freq      9698
Name: DRSH, dtype: object

8

Other events within 14 days

In [140]:
# Pulmonary embolism
# Pulmonary embolism (PE) is a blockage of an artery in the lungs by a substance that has moved from elsewhere in the body through the bloodstream (embolism).
# DPED - Date of above (yyyy/mm/dd)

print(df.DPE.describe())

df.DPE.isnull().sum()

count     9754
unique       3
top          N
freq      9684
Name: DPE, dtype: object

8

In [141]:
# Discharged alive from hospital

print(df.DALIVE.describe())

df.DALIVE.isnull().sum()

count     9745
unique       3
top          Y
freq      5163
Name: DALIVE, dtype: object

17

In [142]:
# Date of above (yyyy/mm/dd)

print(df.DALIVED.describe())

df.DALIVED.isnull().sum()

count     5163
unique     107
top         14
freq       446
Name: DALIVED, dtype: object

4599

In [143]:
# Discharge destination (A-Home/B-Relatives home/C-Residential care/D-Nursing home/E-Other hospital departments/U-Unknown)

print(df.DPLACE.describe())

df.DPLACE.isnull().sum()

count     4861
unique       6
top          A
freq      3553
Name: DPLACE, dtype: object

4901

In [144]:
# Dead on discharge form

print(df.DDEAD.describe())

df.DDEAD.isnull().sum()

count     9753
unique       3
top          N
freq      8683
Name: DDEAD, dtype: object

9

In [145]:
# Date of above (yyyy/mm/dd); NOTE: this death is not necessarily within 14 days of randomisation

print(df.DDEADD.describe())

df.DDEADD.isnull().sum()

count     1068
unique      60
top          1
freq       108
Name: DDEADD, dtype: object

8694

Data collected at 6 months

In [148]:
# Dead at six month follow-up (Y/N)

print(df.FDEAD.describe())

df.FDEAD.isnull().sum()

count     9741
unique       2
top          N
freq      7473
Name: FDEAD, dtype: object

21

In [149]:
# Date of last contact

print(df.FLASTD.describe())

df.FLASTD.isnull().sum()

count       0
unique      0
top       NaN
freq      NaN
Name: FLASTD, dtype: object

9762

In [150]:
# Date of death; NOTE: this death is not necessarily within 6 months of  randomisation

print(df.FDEADD.describe())

df.FDEADD.isnull().sum()

count     2258
unique     228
top          1
freq       110
Name: FDEADD, dtype: object

7504

In [151]:
# Cause of death (1-Initial stroke/2-Recurrent stroke (ischaemic or unknown)/3-Recurrent stroke (haemorrhagic)/4-Pneumonia/5-Coronary heart disease/6-Pulmonary embolism/7-Other vascular or unknown/8-Non-vascular/0-unknown)

# FDEADX - comment on death

print(df.FDEADC.describe())

df.FDEADC.isnull().sum()

count     2266
unique       9
top          1
freq       797
Name: FDEADC, dtype: object

7496

In [152]:
# Fully recovered at 6 month follow-up (Y/N)

print(df.FRECOVER.describe())

df.FRECOVER.isnull().sum()

count     7511
unique       3
top          N
freq      5507
Name: FRECOVER, dtype: object

2251

In [153]:
# Dependent at 6 month follow-up (Y/N)

print(df.FDENNIS.describe())

df.FDENNIS.isnull().sum()

count     7475
unique       3
top          Y
freq      3819
Name: FDENNIS, dtype: object

2287

In [154]:
# Place of residance at 6 month follow-up (A-Home/B-Relatives home/C-Residential care/D-Nursing home/E-Other hospital departments/U-Unknown)

print(df.FPLACE.describe())

df.FPLACE.isnull().sum()

count     7474
unique       6
top          A
freq      5873
Name: FPLACE, dtype: object

2288

In [155]:
# On antiplatelet drugs

print(df.FAP.describe())

df.FAP.isnull().sum()

count     7439
unique       4
top          Y
freq      5249
Name: FAP, dtype: object

2323

Other data and derived variables

In [157]:
# Date discharge form received

print(df.FU1_RECD.describe())

df.FU1_RECD.isnull().sum()

count     9755
unique     322
top         21
freq       360
Name: FU1_RECD, dtype: object

7

In [158]:
# Date 6 month follow-up done

print(df.FU2_DONE.describe())

df.FU2_DONE.isnull().sum()

count     9742
unique     452
top        183
freq       245
Name: FU2_DONE, dtype: object

20

In [159]:
# Date discharge form completed

print(df.FU1_COMP.describe())

df.FU1_COMP.isnull().sum()

count     9520
unique     301
top         14
freq      1603
Name: FU1_COMP, dtype: object

242

In [160]:
# Compliant for aspirin

print(df.CMPLASP.describe())

df.CMPLASP.isnull().sum()

count     9755
unique       2
top          Y
freq      9298
Name: CMPLASP, dtype: object

7

In [161]:
# Compliant for heparin

print(df.CMPLHEP.describe())

df.CMPLHEP.isnull().sum()

count     9755
unique       2
top          Y
freq      9224
Name: CMPLHEP, dtype: object

7

In [162]:
# Indicator variable for death (1=died; 0=did not die)

print(df.ID.describe())

df.ID.isnull().sum()

count     9762
unique    9762
top       1698
freq         1
Name: ID, dtype: object

0

In [163]:
# Time of death or censoring in days

print(df.TD.describe())

df.TD.isnull().sum()

count     9761
unique     425
top        183
freq       232
Name: TD, dtype: object

1

In [164]:
# Predicted probability of death/dependence at 6 month

print(df.EXPDD.describe())

df.EXPDD.isnull().sum()

count       9762
unique      5605
top       0.9596
freq           9
Name: EXPDD, dtype: object

0

In [165]:
# Predicted probability of death at 6 month

print(df.EXPD6.describe())

df.EXPD6.isnull().sum()

count       9762
unique      4524
top       0.0594
freq          12
Name: EXPD6, dtype: object

0

In [166]:
# Predicted probability of death at 14 days

print(df.EXPD14.describe())

df.EXPD14.isnull().sum()

count       9762
unique      2703
top       0.0345
freq          27
Name: EXPD14, dtype: object

0

In [167]:
# Know to be dead or alive at 14 days (1=Yes, 0=No); this does not necessarily mean that we know outcome at 6 monts – see OCCODE for this

print(df.SET14D.describe())

df.SET14D.isnull().sum()

count     9762
unique       2
top          1
freq      9761
Name: SET14D, dtype: object

0

In [168]:
# Indicator of death at 14 days

print(df.ID14.describe())

df.ID14.isnull().sum()

count     9762
unique       2
top          0
freq      8837
Name: ID14, dtype: object

0

In [169]:
# Six month outcome (1-dead/2-dependent/3-not recovered/4-recovered/8 or 9 – missing status

print(df.OCCODE.describe())

df.OCCODE.isnull().sum()

count     9762
unique       5
top          2
freq      3903
Name: OCCODE, dtype: object

0

Indicator variables for specific causes of death

In [171]:
# Initial stroke

print(df.DEAD1.describe())

df.DEAD1.isnull().sum()

count     9762
unique       2
top          0
freq      8975
Name: DEAD1, dtype: object

0

In [172]:
# Reccurent ischaemic/unknown stroke

print(df.DEAD2.describe())

df.DEAD2.isnull().sum()

count     9762
unique       2
top          0
freq      9492
Name: DEAD2, dtype: object

0

In [173]:
# Reccurent haemorrhagic stroke

print(df.DEAD3.describe())

df.DEAD3.isnull().sum()

count     9762
unique       2
top          0
freq      9722
Name: DEAD3, dtype: object

0

In [174]:
# Pneumonia

print(df.DEAD4.describe())

df.DEAD4.isnull().sum()

count     9762
unique       2
top          0
freq      9331
Name: DEAD4, dtype: object

0

In [175]:
# Coronary heart disease

print(df.DEAD5.describe())

df.DEAD5.isnull().sum()

count     9762
unique       2
top          0
freq      9580
Name: DEAD5, dtype: object

0

In [176]:
# Pulmonary embolism

print(df.DEAD6.describe())

df.DEAD6.isnull().sum()

count     9762
unique       2
top          0
freq      9674
Name: DEAD6, dtype: object

0

In [177]:
# Other vascular or unknown

print(df.DEAD7.describe())

df.DEAD7.isnull().sum()

count     9762
unique       2
top          0
freq      9479
Name: DEAD7, dtype: object

0

In [178]:
# Non vascular

print(df.DEAD8.describe())

df.DEAD8.isnull().sum()

count     9762
unique       2
top          0
freq      9644
Name: DEAD8, dtype: object

0

In [4]:
# Cerebral bleed/heamorrhagic stroke within 14 days; this is slightly wider definition than DRSH an is used for analysis of cerebral bleeds

print(df.H14.describe())

df.H14.isnull().sum()

count     9762
unique       2
top          0
freq      9677
Name: H14, dtype: object

0

In [5]:
# Indicator of ischaemic stroke within 14 days

print(df.ISC14.describe())

df.ISC14.isnull().sum()

count     9762
unique       2
top          0
freq      9563
Name: ISC14, dtype: object

0

In [6]:
# Indicator of indeterminate stroke within 14 days

print(df.NK14.describe())

df.NK14.isnull().sum()

count     9762
unique       2
top          0
freq      9627
Name: NK14, dtype: object

0

In [8]:
# Indicator of haemorrhagic transformation within 14 days

print(df.HTI14.describe())

df.HTI14.isnull().sum()

count     9762
unique       2
top          0
freq      9730
Name: HTI14, dtype: object

0

In [10]:
# Indicator of pulmonary embolism within 14 days
print(df.PE14.describe())

df.PE14.isnull().sum()

count     9762
unique       2
top          0
freq      9689
Name: PE14, dtype: object

0

In [11]:
# Indicator of deep vein thrombosis on discharge form

print(df.DVT14.describe())

df.DVT14.isnull().sum()

count     9762
unique       2
top          0
freq      9750
Name: DVT14, dtype: object

0

In [12]:
# Indicator of major non-cerebral bleed within 14 days

print(df.TRAN14.describe())

df.TRAN14.isnull().sum()

count     9762
unique       2
top          0
freq      9683
Name: TRAN14, dtype: object

0

In [13]:
# Indicator of any non-cerebral bleed within 14 days

print(df.NCB14.describe())

df.NCB14.isnull().sum()

count     9762
unique       2
top          0
freq      9508
Name: NCB14, dtype: object

0

In [14]:
for column in df.columns:
    columnSeriesObj = df[column]
    if columnSeriesObj.isnull().sum() != 0:
        print('Column Name: ', column)
        print('Missing values : ', columnSeriesObj.isnull().sum() )

Column Name:  RATRIAL
Missing values :  484
Column Name:  RHEP24
Missing values :  175
Column Name:  RASP3
Missing values :  484
Column Name:  DASP14
Missing values :  12
Column Name:  DASPLT
Missing values :  81
Column Name:  DLH14
Missing values :  14
Column Name:  DMH14
Missing values :  498
Column Name:  DHH14
Missing values :  9278
Column Name:  DSCH
Missing values :  152
Column Name:  DIVH
Missing values :  152
Column Name:  DAP
Missing values :  11
Column Name:  DOAC
Missing values :  11
Column Name:  DGORM
Missing values :  15
Column Name:  DSTER
Missing values :  16
Column Name:  DCAA
Missing values :  17
Column Name:  DHAEMD
Missing values :  16
Column Name:  DCAREND
Missing values :  498
Column Name:  DTHROMB
Missing values :  158
Column Name:  DMAJNCH
Missing values :  8
Column Name:  DMAJNCHD
Missing values :  9686
Column Name:  DMAJNCHX
Missing values :  9689
Column Name:  DSIDE
Missing values :  8
Column Name:  DSIDED
Missing values :  9442
Column Name:  DSIDEX
Missing values :  9438
Column Name:  DDIAGISC
Missing values :  12
Column Name:  DDIAGHA
Missing values :  12
Column Name:  DDIAGUN
Missing values :  10
Column Name:  DNOSTRK
Missing values :  12
Column Name:  DNOSTRKX
Missing values :  9560
Column Name:  DRSISC
Missing values :  11
Column Name:  DRSISCD
Missing values :  9556
Column Name:  DRSH
Missing values :  8
Column Name:  DRSHD
Missing values :  9709
Column Name:  DRSUNK
Missing values :  497
Column Name:  DRSUNKD
Missing values :  9626
Column Name:  DPE
Missing values :  8
Column Name:  DPED
Missing values :  9695
Column Name:  DALIVE
Missing values :  17
Column Name:  DALIVED
Missing values :  4599
Column Name:  DPLACE
Missing values :  4901
Column Name:  DDEAD
Missing values :  9
Column Name:  DDEADD
Missing values :  8694
Column Name:  DDEADC
Missing values :  8545
Column Name:  DDEADX
Missing values :  9673
Column Name:  FDEAD
Missing values :  21
Column Name:  FLASTD
Missing values :  9762
Column Name:  FDEADD
Missing values :  7504
Column Name:  FDEADC
Missing values :  7496
Column Name:  FDEADX
Missing values :  9356
Column Name:  FRECOVER
Missing values :  2251
Column Name:  FDENNIS
Missing values :  2287
Column Name:  FPLACE
Missing values :  2288
Column Name:  FAP
Missing values :  2323
Column Name:  FOAC
Missing values :  2325
Column Name:  FU1_RECD
Missing values :  7
Column Name:  FU2_DONE
Missing values :  20
Column Name:  FU1_COMP
Missing values :  242
Column Name:  NCCODE
Missing values :  9008
Column Name:  CMPLASP
Missing values :  7
Column Name:  CMPLHEP
Missing values :  7
Column Name:  TD
Missing values :  1

In [19]:
# merge DHH14 into DMH14 
# (DHH14 = Medium dose heparin given for 14 days etc in pilot (combine with DMH14))
df['DMH14'] = np.where(df['DMH14'].isnull() == True, df['DHH14'], df['DMH14'])

In [20]:
df.DMH14.isnull().sum()

14

In [25]:
# drop the following columns due too many missing values (> 1000, ecxept 'DPLACE','FRECOVER', 'FDENNIS','FPLACE', 'FAP', 'FOAC') (or merging with other columns, i.e. DHH14)
df = df.drop(['DHH14', 'DMAJNCHD', 'DMAJNCHX', 'DSIDED', 'DSIDEX', 'DNOSTRKX', 'DRSISCD', 'DRSHD', 'DRSUNKD', 'DPED', 'DALIVED', 'DDEADD', 'DDEADC',  'DDEADX', 'FLASTD', 'FDEADD', 'FDEADC', 'FDEADX', 'NCCODE'], axis=1)

In [26]:
df.to_csv('data/Train1_clean.csv')