In [2]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('data/Train1_clean.csv',  index_col= [0])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9762 entries, 0 to 9761
Data columns (total 95 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         9762 non-null   int64
 1   HOSPNUM    9762 non-null   int64
 2   RDELAY     9762 non-null   int64
 3   RCONSC     9762 non-null   object
 4   SEX        9762 non-null   object
 5   AGE        9762 non-null   int64
 6   RSLEEP     9762 non-null   object
 7   RATRIAL    9278 non-null   object
 8   RCT        9762 non-null   object
 9   RVISINF    9762 non-null   object
 10  RHEP24     9587 non-null   object
 11  RASP3      9278 non-null   object
 12  RSBP       9762 non-null   int64
 13  RDEF1      9762 non-null   object
 14  RDEF2      9762 non-null   object
 15  RDEF3      9762 non-null   object
 16  RDEF4      9762 non-null   object
 17  RDEF5      9762 non-null   object
 18  RDEF6      9762 non-null   object
 19  RDEF7      9762 non-null   object
 20  RDEF8      9762 non-null   object
 21  STYPE      9762 non-null   object
 22  RDATE      9762 non-null   object
 23  HOURLOCAL  9762 non-null   int64
 24  MINLOCAL   9762 non-null   int64
 25  DAYLOCAL   9762 non-null   int64
 26  RXASP      9762 non-null   object
 27  RXHEP      9762 non-null   object
 28  DASP14     9750 non-null   object
 29  DASPLT     9681 non-null   object
 30  DLH14      9748 non-null   object
 31  DMH14      9748 non-null   object
 32  ONDRUG     9762 non-null   int64
 33  DSCH       9610 non-null   object
 34  DIVH       9610 non-null   object
 35  DAP        9751 non-null   object
 36  DOAC       9751 non-null   object
 37  DGORM      9747 non-null   object
 38  DSTER      9746 non-null   object
 39  DCAA       9745 non-null   object
 40  DHAEMD     9746 non-null   object
 41  DCAREND    9264 non-null   object
 42  DTHROMB    9604 non-null   object
 43  DMAJNCH    9754 non-null   object
 44  DSIDE      9754 non-null   object
 45  DDIAGISC   9750 non-null   object
 46  DDIAGHA    9750 non-null   object
 47  DDIAGUN    9752 non-null   object
 48  DNOSTRK    9750 non-null   object
 49  DRSISC     9751 non-null   object
 50  DRSH       9754 non-null   object
 51  DRSUNK     9265 non-null   object
 52  DPE        9754 non-null   object
 53  DALIVE     9745 non-null   object
 54  DPLACE     4861 non-null   object
 55  DDEAD      9753 non-null   object
 56  FDEAD      9741 non-null   object
 57  FRECOVER   7511 non-null   object
 58  FDENNIS    7475 non-null   object
 59  FPLACE     7474 non-null   object
 60  FAP        7439 non-null   object
 61  FOAC       7437 non-null   object
 62  FU1_RECD   9755 non-null   float64
 63  FU2_DONE   9742 non-null   float64
 64  COUNTRY    9762 non-null   object
 65  CNTRYNUM   9762 non-null   int64
 66  FU1_COMP   9520 non-null   float64
 67  CMPLASP    9755 non-null   object
 68  CMPLHEP    9755 non-null   object
 69  DIED       9762 non-null   int64
 70  TD         9761 non-null   float64
 71  EXPDD      9762 non-null   float64
 72  EXPD6      9762 non-null   float64
 73  EXPD14     9762 non-null   float64
 74  SET14D     9762 non-null   int64
 75  ID14       9762 non-null   int64
 76  OCCODE     9762 non-null   int64
 77  DEAD1      9762 non-null   int64
 78  DEAD2      9762 non-null   int64
 79  DEAD3      9762 non-null   int64
 80  DEAD4      9762 non-null   int64
 81  DEAD5      9762 non-null   int64
 82  DEAD6      9762 non-null   int64
 83  DEAD7      9762 non-null   int64
 84  DEAD8      9762 non-null   int64
 85  H14        9762 non-null   int64
 86  ISC14      9762 non-null   int64
 87  NK14       9762 non-null   int64
 88  STRK14     9762 non-null   int64
 89  HTI14      9762 non-null   int64
 90  PE14       9762 non-null   int64
 91  DVT14      9762 non-null   int64
 92  TRAN14     9762 non-null   int64
 93  NCB14      9762 non-null   int64
 94  RYEAR      9762 non-null   int64
dtypes: float64(7), int64(32), object(56)
memory usage: 7.1+ MB

In [23]:
df.head()

,ID,HOSPNUM,RDELAY,RCONSC,SEX,AGE,RSLEEP,RATRIAL,RCT,RVISINF,...,H14,ISC14,NK14,STRK14,HTI14,PE14,DVT14,TRAN14,NCB14,RYEAR
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,1,1,17,D,M,69,Y,NaN,Y,Y,...,0,0,0,0,0,0,0,0,0,91
1,2,1,10,F,M,76,Y,NaN,Y,N,...,0,0,0,0,0,0,0,0,0,91
2,3,1,24,F,M,23,N,NaN,Y,N,...,0,0,0,0,0,0,0,0,0,91
3,4,1,5,D,F,83,N,NaN,N,N,...,0,0,0,0,0,0,0,0,0,91
4,6,1,8,D,F,64,Y,NaN,Y,Y,...,0,0,0,0,0,0,0,0,0,91